@import '@/styles/base/colors.css';

:root {
  --color-primary: var(--colors-sage-400, #8DC757);
  --color-primary-light: var(--colors-sage-200, #C0ea9a);
  --color-primary-dark: var(--colors-sage-700, #559B61);
  --color-secondary: var(--colors-sky-900, #33346D);
  --color-secondary-light: var(--colors-sky-400, #A2AEBA);
  --color-secondary-dark: var(--colors-sky-1000, #353744);
  --color-accent: var(--colors-lavender-400, #a589ce);
  --color-accent-light: var(--colors-lavender-200, #d5b4ee);
  --color-accent-dark: var(--colors-lavender-800, #5e4684);
  --color-success: var(--colors-mint-700, #3ecb73);
  --color-success-light: var(--colors-mint-200, #c4feca);
  --color-success-dark: var(--colors-mint-800, #3da364);
  --color-warning: var(--colors-amber-600, #f66e05);
  --color-warning-light: var(--colors-amber-200, #ffc088);
  --color-warning-dark: var(--colors-amber-800, #cf5c27);
  --color-error: var(--colors-rose-600, #E11D48);
  --color-error-light: var(--colors-rose-200, #FDD3D0);
  --color-error-dark: var(--colors-rose-800, #970D32);
  --color-info: var(--colors-sky-500, #8D99A4);
  --color-info-light: var(--colors-sky-200, #D8DDE4);
  --color-info-dark: var(--colors-sky-800, #525B71);
}