@import '@/styles/base/colors.css';

:root {
  --color-primary: var(--colors-sage-400, #8DC757);
  --color-primary-light: var(--colors-sage-200);
  --color-primary-dark: var(--colors-sage-800);
  --color-secondary: var(--colors-lavender-900, #33346D);
  --color-secondary-light: var(--colors-moss-200);
  --color-secondary-dark: var(--colors-moss-800);
  --color-accent: var(--colors-mint-400);
  --color-accent-light: var(--colors-mint-200);
  --color-accent-dark: var(--colors-mint-800);
  --color-success: var(--colors-mint-700);
  --color-success-light: var(--colors-mint-200);
  --color-success-dark: var(--colors-mint-800);
  --color-warning: var(--colors-amber-600);
  --color-warning-light: var(--colors-amber-200);
  --color-warning-dark: var(--colors-amber-800);
  --color-error: var(--colors-rose-600);
  --color-error-light: var(--colors-rose-200);
  --color-error-dark: var(--colors-rose-800);
  --color-info: var(--colors-sky-500);
  --color-info-light: var(--colors-sky-200);
  --color-info-dark: var(--colors-sky-800);
}

@theme {
  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-100: oklch(89.23% 0.031 57.88);
  --color-rose-200: oklch(90.18% 0.0476 22.88);
  --color-rose-300: oklch(83.38% 0.0862 24.34);
  --color-rose-400: oklch(71.12% 0.1815 23.61);
  --color-rose-500: oklch(65.97% 0.2267 26.03);
  --color-rose-600: oklch(58.58% 0.222 17.58);
  --color-rose-700: oklch(49.43% 0.1941 19.76);
  --color-rose-800: oklch(43.53% 0.1665 15.11);
  --color-rose-900: oklch(39.47% 0.1536 10.57);
  --color-rose-1000: oklch(33.29% 0.1273 9.08);
  --color-amber-50: oklch(98.7% 0.022 95.277);
  --color-amber-100: oklch(91.52% 0.0522 56.77);
  --color-amber-200: oklch(85.29% 0.1021 62.43);
  --color-amber-300: oklch(80.84% 0.1402 64.98);
  --color-amber-400: oklch(76.54% 0.1553 61.58);
  --color-amber-500: oklch(72.28% 0.177 53.22);
  --color-amber-600: oklch(69.3% 0.1894 47.35);
  --color-amber-700: oklch(65.11% 0.1514 43.95);
  --color-amber-800: oklch(61.11% 0.1595 42.63);
  --color-amber-900: oklch(55.07% 0.1579 41.41);
  --color-amber-1000: oklch(46.11% 0.1268 42.03);
  --color-sunset-50: oklch(98% 0.016 73.684);
  --color-sunset-100: oklch(96.8% 0.0369 90.06);
  --color-sunset-200: oklch(92.8% 0.0847 91.31);
  --color-sunset-300: oklch(86.72% 0.12 84.55);
  --color-sunset-400: oklch(79.15% 0.1351 74.27);
  --color-sunset-500: oklch(68.92% 0.1412 79.3);
  --color-sunset-600: oklch(57.75% 0.1203 74.23);
  --color-sunset-700: oklch(48.7% 0.1 75.18);
  --color-sunset-800: oklch(40.54% 0.0818 76.17);
  --color-sunset-900: oklch(34.21% 0.0678 76.79);
  --color-sunset-1000: oklch(25.07% 0.0485 75.67);
  --color-sage-50: oklch(97.9% 0.021 166.113);
  --color-sage-100: oklch(97.65% 0.0524 129.59);
  --color-sage-200: oklch(88.83% 0.1136 130.92);
  --color-sage-300: oklch(83.56% 0.1476 131.93);
  --color-sage-400: oklch(76.58% 0.156 131.95);
  --color-sage-500: oklch(79.87% 0.1577 146.43);
  --color-sage-600: oklch(76.35% 0.1213 161.07);
  --color-sage-700: oklch(62.8% 0.1121 148.09);
  --color-sage-800: oklch(55.94% 0.1207 147.6);
  --color-sage-900: oklch(45.21% 0.0943 156.01);
  --color-sage-1000: oklch(32.4% 0.0573 166.03);
  --color-lavender-50: oklch(98.4% 0.019 200.873);
  --color-lavender-100: oklch(95.16% 0.0228 266.91);
  --color-lavender-200: oklch(85.35% 0.0597 265.12);
  --color-lavender-300: oklch(80.17% 0.0733 258.82);
  --color-lavender-400: oklch(72.92% 0.1001 268.53);
  --color-lavender-500: oklch(67.59% 0.1114 265.55);
  --color-lavender-600: oklch(55.26% 0.1299 276.16);
  --color-lavender-700: oklch(50.14% 0.1528 278.48);
  --color-lavender-800: oklch(43.58% 0.1251 279.3);
  --color-lavender-900: oklch(35.6% 0.0966 279.54);
  --color-lavender-1000: oklch(25.74% 0.0484 282.46);
  --color-mint-50: oklch(98.4% 0.014 180.72);
  --color-mint-100: oklch(98.02% 0.0272 179.72);
  --color-mint-200: oklch(92.34% 0.0809 174.44);
  --color-mint-300: oklch(85.15% 0.1184 165.69);
  --color-mint-400: oklch(75.31% 0.1077 159.73);
  --color-mint-500: oklch(66.03% 0.0935 174.12);
  --color-mint-600: oklch(62.58% 0.0915 195.07);
  --color-mint-700: oklch(50.77% 0.0863 199);
  --color-mint-800: oklch(43.76% 0.0759 188.55);
  --color-mint-900: oklch(38.71% 0.0634 187.21);
  --color-mint-1000: oklch(27.66% 0.046 192.53);
  --color-sky-50: oklch(97% 0.014 254.604);
  --color-sky-100: oklch(93.2% 0.032 255.585);
  --color-sky-200: oklch(88.2% 0.059 254.128);
  --color-sky-300: oklch(82.8% 0.111 230.318);
  --color-sky-400: oklch(70.7% 0.165 254.624);
  --color-sky-500: oklch(62.3% 0.214 259.815);
  --color-sky-600: oklch(54.6% 0.245 262.881);
  --color-sky-700: oklch(48.8% 0.243 264.376);
  --color-sky-800: oklch(42.4% 0.199 265.638);
  --color-sky-900: oklch(37.9% 0.146 265.522);
  --color-sky-1000: oklch(28.2% 0.091 267.935);
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);
  --color-stone-50: oklch(97.15% 0.0028 308.43);
  --color-stone-100: oklch(96.42% 0 0);
  --color-stone-200: oklch(94.54% 0.0032 17.21);
  --color-stone-300: oklch(93.01% 0.0034 325.6);
  --color-stone-400: oklch(85.23% 0.0055 17.27);
  --color-stone-500: oklch(80.79% 0.0045 17.25);
  --color-stone-600: oklch(67.59% 0.0019 247.85);
  --color-stone-700: oklch(58.59% 0.0039 354.78);
  --color-stone-800: oklch(48.07% 0.0079 5.87);
  --color-stone-900: oklch(38.92% 0.0086 67.57);
  --color-stone-1000: oklch(30.95% 0.0092 88.75);
}

.dark {
  --color-tangerine-1000: #ffdbc2;
  --color-tangerine-900: #ffc088;
  --color-tangerine-800: #feac55;
  --color-tangerine-700: #ff9421;
  --color-tangerine-600: #ff9537;
  --color-tangerine-500: #fb8429;
  --color-tangerine-400: #d96c39;
  --color-tangerine-300: #cf5c27;
  --color-tangerine-200: #ba4914;
  --color-tangerine-100: #903a12;
  --color-sunset-1000: #ffe2a7;
  --color-sunset-900: #ffce68;
  --color-sunset-800: #ffbe39;
  --color-sunset-700: #feb92c;
  --color-sunset-600: #f0a202;
  --color-sunset-500: #db9c08;
  --color-sunset-400: #d78e06;
  --color-sunset-300: #c5790f;
  --color-sunset-200: #ad6008;
  --color-sunset-100: #6d3a0e;
  --color-blueberry-1000: #baeeff;
  --color-blueberry-900: #75d7f7;
  --color-blueberry-800: #50c8f1;
  --color-blueberry-700: #3ac4f4;
  --color-blueberry-600: #22a6d3;
  --color-blueberry-500: #1d8baf;
  --color-blueberry-400: #217f9f;
  --color-blueberry-300: #14617b;
  --color-blueberry-200: #11546a;
  --color-blueberry-100: #0b3948;
  --color-cherry-1000: #ffd6d7;
  --color-cherry-900: #ffb4b6;
  --color-cherry-800: #f75a5d;
  --color-cherry-700: #d13d40;
  --color-cherry-600: #c52b2e;
  --color-cherry-500: #c92530;
  --color-cherry-400: #ae172e;
  --color-cherry-300: #a8122d;
  --color-cherry-200: #811123;
  --color-cherry-100: #671213;
  --color-moss-1000: #d1ffff;
  --color-moss-900: #93d3d0;
  --color-moss-800: #82c5be;
  --color-moss-700: #45a9a7;
  --color-moss-600: #3b918f;
  --color-moss-500: #2e8281;
  --color-moss-400: #23706f;
  --color-moss-300: #1f6c69;
  --color-moss-200: #126367;
  --color-moss-100: #0b5054;
  --color-grape-1000: #f7e8ff;
  --color-grape-900: #d5b4ee;
  --color-grape-800: #b89ce2;
  --color-grape-700: #a589ce;
  --color-grape-600: #9c80c5;
  --color-grape-500: #7d5fab;
  --color-grape-400: #7254a0;
  --color-grape-300: #5e4684;
  --color-grape-200: #43315e;
  --color-grape-100: #302343;
  --color-mint-1000: #deffe1;
  --color-mint-900: #c4feca;
  --color-mint-800: #9df994;
  --color-mint-700: #75f673;
  --color-mint-600: #64ee74;
  --color-mint-500: #51dc61;
  --color-mint-400: #3ecb73;
  --color-mint-300: #3da364;
  --color-mint-200: #30794c;
  --color-mint-100: #205735;

  /* Greyscale */
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-neutral-1000: #f6f5f7;
  --color-neutral-900: #f4f2f2;
  --color-neutral-800: #efefef;
  --color-neutral-700: #ebebeb;
  --color-neutral-600: #ccc9c9;
  --color-neutral-500: #bdbcbc;
  --color-neutral-400: #9b9898;
  --color-neutral-300: #7e7b7b;
  --color-neutral-200: #5b5757;
  --color-neutral-100: #424040;
  --color-neutral-50: #2e2b2b;
}