:root {
  --color-primary\/90: rgb(141 199 87 / 90%);
  --color-primary\/50: rgb(141 199 87 / 50%);
  --color-primary\/30: rgb(141 199 87 / 30%);
  --color-primary\/10: rgb(141 199 87 / 10%);
  --color-secondary\/90: rgb(51 52 109 / 90%);
  --color-secondary\/50: rgb(51 52 109 / 50%);
  --color-secondary\/30: rgb(51 52 109 / 30%);
  --color-secondary\/10: rgb(51 52 109 / 10%);
   --color-accent\/90: rgb(165 137 206 / 90%);
  --color-accent\/50: rgb(165 137 206 / 50%);
  --color-accent\/30: rgb(165 137 206 / 30%);
  --color-accent\/10: rgb(165 137 206 / 10%);
  --color-accent-light\/90: rgb(213 180 238 / 90%);
  --color-accent-light\/50: rgb(213 180 238 / 50%);
  --color-accent-light\/30: rgb(213 180 238 / 30%);
  --color-accent-light\/10: rgb(213 180 238 / 10%);
  --color-accent-dark\/90: rgb(94 70 132 / 90%);
  --color-accent-dark\/50: rgb(94 70 132 / 50%);
  --color-accent-dark\/30: rgb(94 70 132 / 30%);
  --color-accent-dark\/10: rgb(94 70 132 / 10%);
  --color-success\/90: rgb(62 203 115 / 90%);
  --color-success\/50: rgb(62 203 115 / 50%);
  --color-success\/30: rgb(62 203 115 / 30%);
  --color-success\/10: rgb(62 203 115 / 10%);
  --color-success-light\/90: rgb(196 254 202 / 90%);
  --color-success-light\/50: rgb(196 254 202 / 50%);
  --color-success-light\/30: rgb(196 254 202 / 30%);
  --color-success-light\/10: rgb(196 254 202 / 10%);
  --color-success-dark\/90: rgb(61 163 100 / 90%);
  --color-success-dark\/50: rgb(61 163 100 / 50%);
  --color-success-dark\/30: rgb(61 163 100 / 30%);
  --color-success-dark\/10: rgb(61 163 100 / 10%);
   --color-warning\/90: rgb(246 110 5 / 90%);
  --color-warning\/50: rgb(246 110 5 / 50%);
  --color-warning\/30: rgb(246 110 5 / 30%);
  --color-warning\/10: rgb(246 110 5 / 10%);
  --color-warning-light\/90: rgb(255 192 136 / 90%);
  --color-warning-light\/50: rgb(255 192 136 / 50%);
  --color-warning-light\/30: rgb(255 192 136 / 30%);
  --color-warning-light\/10: rgb(255 192 136 / 10%);
  --color-warning-dark\/90: rgb(207 92 39 / 90%);
  --color-warning-dark\/50: rgb(207 92 39 / 50%);
  --color-warning-dark\/30: rgb(207 92 39 / 30%);
  --color-warning-dark\/10: rgb(207 92 39 / 10%);
  --color-error\/90: rgb(225 29 72 / 90%);
  --color-error\/50: rgb(225 29 72 / 50%);
  --color-error\/30: rgb(225 29 72 / 30%);
  --color-error\/10: rgb(225 29 72 / 10%);
  --color-error-light\/90: rgb(253 211 208 / 90%);
  --color-error-light\/50: rgb(253 211 208 / 50%);
  --color-error-light\/30: rgb(253 211 208 / 30%);
  --color-error-light\/10: rgb(253 211 208 / 10%);
  --color-error-dark\/90: rgb(151 13 50 / 90%);
  --color-error-dark\/50: rgb(151 13 50 / 50%);
  --color-error-dark\/30: rgb(151 13 50 / 30%);
  --color-error-dark\/10: rgb(151 13 50 / 10%);
  --color-info\/90: rgb(141 153 164 / 90%);
  --color-info\/50: rgb(141 153 164 / 50%);
  --color-info\/30: rgb(141 153 164 / 30%);
  --color-info\/10: rgb(141 153 164 / 10%);
  --color-info-light\/90: rgb(216 221 228 / 90%);
  --color-info-light\/50: rgb(216 221 228 / 50%);
  --color-info-light\/30: rgb(216 221 228 / 30%);
  --color-info-light\/10: rgb(216 221 228 / 10%);
  --color-info-dark\/90: rgb(82 91 113 / 90%);
  --color-info-dark\/50: rgb(82 91 113 / 50%);
  --color-info-dark\/30: rgb(82 91 113 / 30%);
  --color-info-dark\/10: rgb(82 91 113 / 10%); 
  --bg-primary\/90: rgb(141 199 87 / 90%);
  --bg-primary\/50: rgb(141 199 87 / 50%);
  --bg-primary\/30: rgb(141 199 87 / 30%);
  --bg-primary\/10: rgb(141 199 87 / 10%);
  --bg-secondary\/90: rgb(51 52 109 / 90%);
  --bg-secondary\/50: rgb(51 52 109 / 50%);
  --bg-secondary\/30: rgb(51 52 109 / 30%);
  --bg-secondary\/10: rgb(51 52 109 / 10%);
  --border-primary\/90: rgb(141 199 87 / 90%);
  --border-primary\/50: rgb(141 199 87 / 50%);
  --border-primary\/30: rgb(141 199 87 / 30%);
  --border-primary\/10: rgb(141 199 87 / 10%);
  --border-secondary\/90: rgb(51 52 109 / 90%);
  --border-secondary\/50: rgb(51 52 109 / 50%);
  --border-secondary\/30: rgb(51 52 109 / 30%);
  --border-secondary\/10: rgb(51 52 109 / 10%);
}