@import '@/styles/base/colors.css';

:root {
  --text-primary: var(--colors-sage-400, #8DC757);
  --text-primary-light: var(--colors-sage-200, #C0EA9A);
  --text-primary-dark: var(--colors-sage-700, #559B61);
  --text-secondary: var(--colors-sky-900, #33346D);
  --text-secondary-light: var(--colors-sky-400, #A2AEBA);
  --text-secondary-dark: var(--colors-sky-1000, #353744);
  --text-accent: var(--colors-lavender-400, #a589ce);
  --text-accent-light: var(--colors-lavender-200, #d5b4ee);
  --text-accent-dark: var(--colors-lavender-800, #5e4684);
  --text-success: var(--colors-mint-700, #3ecb73);
  --text-success-light: var(--colors-mint-200, #c4feca);
  --text-success-dark: var(--colors-mint-800, #3da364);
  --text-warning: var(--colors-amber-600, #f66e05);
  --text-warning-light: var(--colors-amber-200, #ffc088);
  --text-warning-dark: var(--colors-amber-800, #cf5c27);
  --text-error: var(--colors-rose-600, #E11D48);
  --text-error-light: var(--colors-rose-200, #FDD3D0);
  --text-error-dark: var(--colors-rose-800, #970D32);
  --text-info: var(--colors-sky-500, #8D99A4);
  --text-info-light: var(--colors-sky-200, #D8DDE4);
  --text-info-dark: var(--colors-sky-800, #525B71);
  --text-primary\/90: rgb(141 199 87 / 90%);
  --text-primary\/50: rgb(141 199 87 / 50%);
  --text-primary\/30: rgb(141 199 87 / 30%);
  --text-primary\/10: rgb(141 199 87 / 10%);
  --text-secondary\/90: rgb(51 52 109 / 90%);
  --text-secondary\/50: rgb(51 52 109 / 50%);
  --text-secondary\/30: rgb(51 52 109 / 30%);
  --text-secondary\/10: rgb(51 52 109 / 10%);
  --text-default: var(--color-stone-700);
  --text-header: var(--color-stone-900, #424040);
  --text-body: var(--color-stone-600);
  --text-subtle: var(--color-stone-500);
  --text-disabled: var(--color-stone-400);
  --text-contrast: var(--color-contrast);
}

@layer utilities {
  .text-default {
    color: var(--color-stone-700);
  }

  .text-header {
    color: var(--color-stone-900, #424040);
  }

  .text-body {
    color: var(--color-stone-600);
  }

  .text-subtle {
    color: var(--color-stone-500);
  }

  .text-disabled {
    color: var(--color-stone-400);
  }

  .text-contrast {
    color: var(--color-contrast);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-primary-light {
    color: var(--color-primary-light);
  }

  .text-primary-dark {
    color: var(--color-primary-dark);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-secondary-light {
    color: var(--color-secondary-light);
  }

  .text-secondary-dark {
    color: var(--color-secondary-dark);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-accent-light {
    color: var(--color-accent-light);
  }

  .text-accent-dark {
    color: var(--color-accent-dark);
  }

  .text-success {
    color: var(--color-success);
  }

  .text-success-light {
    color: var(--color-success-light);
  }

  .text-success-dark {
    color: var(--color-success-dark);
  }

  .text-warning {
    color: var(--color-warning);
  }

  .text-warning-light {
    color: var(--color-warning-light);
  }

  .text-warning-dark {
    color: var(--color-warning-dark);
  }

  .text-error {
    color: var(--color-error, #c92530);
  }

  .text-error-light {
    color: var(--color-error-light);
  }

  .text-error-dark {
    color: var(--color-error-dark);
  }

  .text-error\/50 {
    color: var(--color-error, rgb(201 37 48 / 50%));
  }


  .text-info {
    color: var(--color-info);
  }

  .text-info-light {
    color: var(--color-info-light);
  }

  .text-info-dark {
    color: var(--color-info-dark);
  }
}