@variants hover {
  .bg-primary {
    background-color: var(--color-primary, #8DC757);
  }

  .bg-secondary {
    background-color: var(--color-secondary, #33346D);
  }


  .border-primary {
    border-color: var(--color-primary, #8DC757);
  }


  .border-secondary {
    border-color: var(--color-secondary);
  }


  .text-primary {
    color: var(--color-primary);
  }


  .text-secondary {
    color: var(--color-secondary);
  }
}