@theme {
  --color-*: initial;
  --color-stone-50\/90: rgb(246 245 247 / 90%);
  --color-stone-100\/90: rgb(243 243 243 / 90%);
  --color-stone-200\/90: rgb(239 236 236 / 90%);
  --color-stone-300\/90: rgb(233 231 233 / 90%);
  --color-stone-400\/90: rgb(210 205 205 / 90%);
  --color-stone-500\/90: rgb(195 191 191 / 90%);
  --color-stone-600\/90: rgb(150 151 152 / 90%);
  --color-stone-700\/90: rgb(126 123 124 / 90%);
  --color-stone-800\/90: rgb(98 92 93 / 90%);
  --color-stone-900\/90: rgb(72 68 64 / 90%);
  --color-stone-1000\/90: rgb(50 48 43 / 90%);
  --color-stone-50\/50: rgb(246 245 247 / 50%);
  --color-stone-100\/50: rgb(243 243 243 / 50%);
  --color-stone-200\/50: rgb(239 236 236 / 50%);
  --color-stone-300\/50: rgb(233 231 233 / 50%);
  --color-stone-400\/50: rgb(210 205 205 / 50%);
  --color-stone-500\/50: rgb(195 191 191 / 50%);
  --color-stone-600\/50: rgb(150 151 152 / 50%);
  --color-stone-700\/50: rgb(126 123 124 / 50%);
  --color-stone-800\/50: rgb(98 92 93 / 50%);
  --color-stone-900\/50: rgb(72 68 64 / 50%);
  --color-stone-1000\/50: rgb(50 48 43 / 50%);
  --color-stone-50\/30: rgb(246 245 247 / 30%);
  --color-stone-100\/30: rgb(243 243 243 / 30%);
  --color-stone-200\/30: rgb(239 236 236 / 30%);
  --color-stone-300\/30: rgb(233 231 233 / 30%);
  --color-stone-400\/30: rgb(210 205 205 / 30%);
  --color-stone-500\/30: rgb(195 191 191 / 30%);
  --color-stone-600\/30: rgb(150 151 152 / 30%);
  --color-stone-700\/30: rgb(126 123 124 / 30%);
  --color-stone-800\/30: rgb(98 92 93 / 30%);
  --color-stone-900\/30: rgb(72 68 64 / 30%);
  --color-stone-1000\/30: rgb(50 48 43 / 30%);
  --color-stone-50\/10: rgb(246 245 247 / 10%);
  --color-stone-100\/10: rgb(243 243 243 / 10%);
  --color-stone-200\/10: rgb(239 236 236 / 10%);
  --color-stone-300\/10: rgb(233 231 233 / 10%);
  --color-stone-400\/10: rgb(210 205 205 / 10%);
  --color-stone-500\/10: rgb(195 191 191 / 10%);
  --color-stone-600\/10: rgb(150 151 152 / 10%);
  --color-stone-700\/10: rgb(126 123 124 / 10%);
  --color-stone-800\/10: rgb(98 92 93 / 10%);
  --color-stone-900\/10: rgb(72 68 64 / 10%);
  --color-stone-1000\/10: rgb(50 48 43 / 10%);
  --color-rose\/90: rgb(228 68 68 / 90%);
  --color-rose\/50: rgb(228 68 68 / 50%);
  --color-rose\/30: rgb(228 68 68 / 30%);
  --color-rose\/10: rgb(228 68 68 / 10%);
  --color-amber\/90: rgb(248 153 56 / 90%);
  --color-amber\/50: rgb(248 153 56 / 50%);
  --color-amber\/30: rgb(248 153 56 / 30%);
  --color-amber\/10: rgb(248 153 56 / 10%);
  --color-sunset\/90: rgb(234 179 47 / 90%);
  --color-sunset\/50: rgb(234 179 47 / 50%);
  --color-sunset\/30: rgb(234 179 47 / 30%);
  --color-sunset\/10: rgb(234 179 47 / 10%);
  --color-moss\/90: rgb(116 181 78 / 90%);
  --color-moss\/50: rgb(116 181 78 / 50%);
  --color-moss\/30: rgb(116 181 78 / 30%);
  --color-moss\/10: rgb(116 181 78 / 10%);
  --color-sage\/90: rgb(75 165 142 / 90%);
  --color-sage\/50: rgb(75 165 142 / 50%);
  --color-sage\/30: rgb(75 165 142 / 30%);
  --color-sage\/10: rgb(75 165 142 / 10%);
  --color-sky\/90: rgb(118 149 220 / 90%);
  --color-sky\/50: rgb(118 149 220 / 50%);
  --color-sky\/30: rgb(118 149 220 / 30%);
  --color-sky\/10: rgb(118 149 220 / 10%);
  --color-mint\/90: rgb(109 196 151 / 90%);
  --color-mint\/50: rgb(109 196 151 / 50%);
  --color-mint\/30: rgb(109 196 151 / 30%);
  --color-mint\/10: rgb(109 196 151 / 10%);
  --color-lavender\/90: rgb(163 31 207 / 90%);
  --color-lavender\/50: rgb(163 31 207 / 50%);
  --color-lavender\/30: rgb(163 31 207 / 30%);
  --color-lavender\/10: rgb(163 31 207 / 10%);
  --bg-stone-1000\/90: rgb(50 48 43 / 90%);
  --bg-stone-50\/50: rgb(246 245 247 / 50%);
  --bg-stone-100\/50: rgb(243 243 243 / 50%);
  --bg-stone-200\/50: rgb(239 236 236 / 50%);
  --bg-stone-300\/50: rgb(233 231 233 / 50%);
  --bg-stone-400\/50: rgb(210 205 205 / 50%);
  --bg-stone-500\/50: rgb(195 191 191 / 50%);
  --bg-stone-600\/50: rgb(150 151 152 / 50%);
  --bg-stone-700\/50: rgb(126 123 124 / 50%);
  --bg-stone-800\/50: rgb(98 92 93 / 50%);
  --bg-stone-900\/50: rgb(72 68 64 / 50%);
  --bg-stone-1000\/50: rgb(50 48 43 / 50%);
  --bg-stone-50\/30: rgb(246 245 247 / 30%);
  --bg-stone-100\/30: rgb(243 243 243 / 30%);
  --bg-stone-200\/30: rgb(239 236 236 / 30%);
  --bg-stone-300\/30: rgb(233 231 233 / 30%);
  --bg-stone-400\/30: rgb(210 205 205 / 30%);
  --bg-stone-500\/30: rgb(195 191 191 / 30%);
  --bg-stone-600\/30: rgb(150 151 152 / 30%);
  --bg-stone-700\/30: rgb(126 123 124 / 30%);
  --bg-stone-800\/30: rgb(98 92 93 / 30%);
  --bg-stone-900\/30: rgb(72 68 64 / 30%);
  --bg-stone-1000\/30: rgb(50 48 43 / 30%);
  --bg-stone-50\/10: rgb(246 245 247 / 10%);
  --bg-stone-100\/10: rgb(243 243 243 / 10%);
  --bg-stone-200\/10: rgb(239 236 236 / 10%);
  --bg-stone-300\/10: rgb(233 231 233 / 10%);
  --bg-stone-400\/10: rgb(210 205 205 / 10%);
  --bg-stone-500\/10: rgb(195 191 191 / 10%);
  --bg-stone-600\/10: rgb(150 151 152 / 10%);
  --bg-stone-700\/10: rgb(126 123 124 / 10%);
  --bg-stone-800\/10: rgb(98 92 93 / 10%);
  --bg-stone-900\/10: rgb(72 68 64 / 10%);
  --bg-stone-1000\/10: rgb(50 48 43 / 10%);
  --bg-rose\/90: rgb(228 68 68 / 90%);
  --bg-rose\/50: rgb(228 68 68 / 50%);
  --bg-rose\/30: rgb(228 68 68 / 30%);
  --bg-rose\/10: rgb(228 68 68 / 10%);
  --bg-amber\/90: rgb(248 153 56 / 90%);
  --bg-amber\/50: rgb(248 153 56 / 50%);
  --bg-amber\/30: rgb(248 153 56 / 30%);
  --bg-amber\/10: rgb(248 153 56 / 10%);
  --bg-sunset\/90: rgb(234 179 47 / 90%);
  --bg-sunset\/50: rgb(234 179 47 / 50%);
  --bg-sunset\/30: rgb(234 179 47 / 30%);
  --bg-sunset\/10: rgb(234 179 47 / 10%);
  --bg-moss\/90: rgb(116 181 78 / 90%);
  --bg-moss\/50: rgb(116 181 78 / 50%);
  --bg-moss\/30: rgb(116 181 78 / 30%);
  --bg-moss\/10: rgb(116 181 78 / 10%);
  --bg-sage\/90: rgb(75 165 142 / 90%);
  --bg-sage\/50: rgb(75 165 142 / 50%);
  --bg-sage\/30: rgb(75 165 142 / 30%);
  --bg-sage\/10: rgb(75 165 142 / 10%);
  --bg-sky\/90: rgb(118 149 220 / 90%);
  --bg-sky\/50: rgb(118 149 220 / 50%);
  --bg-sky\/30: rgb(118 149 220 / 30%);
  --bg-sky\/10: rgb(118 149 220 / 10%);
  --bg-mint\/90: rgb(109 196 151 / 90%);
  --bg-mint\/50: rgb(109 196 151 / 50%);
  --bg-mint\/30: rgb(109 196 151 / 30%);
  --bg-mint\/10: rgb(109 196 151 / 10%);
  --bg-lavender\/90: rgb(163 31 207 / 90%);
  --bg-lavender\/50: rgb(163 31 207 / 50%);
  --bg-lavender\/30: rgb(163 31 207 / 30%);
  --bg-lavender\/10: rgb(163 31 207 / 10%);
  --border-stone-50\/90: rgb(246 245 247 / 90%);
  --border-stone-100\/90: rgb(243 243 243 / 90%);
  --border-stone-200\/90: rgb(239 236 236 / 90%);
  --border-stone-300\/90: rgb(233 231 233 / 90%);
  --border-stone-400\/90: rgb(210 205 205 / 90%);
  --border-stone-500\/90: rgb(195 191 191 / 90%);
  --border-stone-600\/90: rgb(150 151 152 / 90%);
  --border-stone-700\/90: rgb(126 123 124 / 90%);
  --border-stone-800\/90: rgb(98 92 93 / 90%);
  --border-stone-900\/90: rgb(72 68 64 / 90%);
  --border-stone-1000\/90: rgb(50 48 43 / 90%);
  --border-stone-50\/50: rgb(246 245 247 / 50%);
  --border-stone-100\/50: rgb(243 243 243 / 50%);
  --border-stone-200\/50: rgb(239 236 236 / 50%);
  --border-stone-300\/50: rgb(233 231 233 / 50%);
  --border-stone-400\/50: rgb(210 205 205 / 50%);
  --border-stone-500\/50: rgb(195 191 191 / 50%);
  --border-stone-600\/50: rgb(150 151 152 / 50%);
  --border-stone-700\/50: rgb(126 123 124 / 50%);
  --border-stone-800\/50: rgb(98 92 93 / 50%);
  --border-stone-900\/50: rgb(72 68 64 / 50%);
  --border-stone-1000\/50: rgb(50 48 43 / 50%);
  --border-stone-50\/30: rgb(246 245 247 / 30%);
  --border-stone-100\/30: rgb(243 243 243 / 30%);
  --border-stone-200\/30: rgb(239 236 236 / 30%);
  --border-stone-300\/30: rgb(233 231 233 / 30%);
  --border-stone-400\/30: rgb(210 205 205 / 30%);
  --border-stone-500\/30: rgb(195 191 191 / 30%);
  --border-stone-600\/30: rgb(150 151 152 / 30%);
  --border-stone-700\/30: rgb(126 123 124 / 30%);
  --border-stone-800\/30: rgb(98 92 93 / 30%);
  --border-stone-900\/30: rgb(72 68 64 / 30%);
  --border-stone-1000\/30: rgb(50 48 43 / 30%);
  --border-stone-50\/10: rgb(246 245 247 / 10%);
  --border-stone-100\/10: rgb(243 243 243 / 10%);
  --border-stone-200\/10: rgb(239 236 236 / 10%);
  --border-stone-300\/10: rgb(233 231 233 / 10%);
  --border-stone-400\/10: rgb(210 205 205 / 10%);
  --border-stone-500\/10: rgb(195 191 191 / 10%);
  --border-stone-600\/10: rgb(150 151 152 / 10%);
  --border-stone-700\/10: rgb(126 123 124 / 10%);
  --border-stone-800\/10: rgb(98 92 93 / 10%);
  --border-stone-900\/10: rgb(72 68 64 / 10%);
  --border-stone-1000\/10: rgb(50 48 43 / 10%);
  --border-rose\/90: rgb(228 68 68 / 90%);
  --border-rose\/50: rgb(228 68 68 / 50%);
  --border-rose\/30: rgb(228 68 68 / 30%);
  --border-rose\/10: rgb(228 68 68 / 10%);
  --border-amber\/90: rgb(248 153 56 / 90%);
  --border-amber\/50: rgb(248 153 56 / 50%);
  --border-amber\/30: rgb(248 153 56 / 30%);
  --border-amber\/10: rgb(248 153 56 / 10%);
  --border-sunset\/90: rgb(234 179 47 / 90%);
  --border-sunset\/50: rgb(234 179 47 / 50%);
  --border-sunset\/30: rgb(234 179 47 / 30%);
  --border-sunset\/10: rgb(234 179 47 / 10%);
}