@import "tailwindcss";
@import "tw-animate-css";
@import '@/styles/base/reset.css';
@import '@/styles/base/colors.css';
@import '@/styles/base/layout.css';
@import '@/styles/base/typography.css';

@import '@/styles/tokens/colors.css';
@import '@/styles/tokens/bgColors.css';
@import '@/styles/tokens/borderColors.css';
@import '@/styles/tokens/textColors.css';
@import '@/styles/tokens/opacity.css';

@import './utilities/hover.css';
@import './utilities/gradients.css';
@import './utilities/opacity.css';

@import './themes/light.css';
@import './themes/dark.css';

@custom-variant dark (&:is(.dark *));

html {
  font-size: var(--font-size);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}