.dark {
  --color-primary: var(--colors-sage-700);
  --color-primary-light: var(--colors-sage-900);
  --color-primary-dark: var(--colors-sage-400);
  --color-secondary: var(--colors-sky-200);
  --color-secondary-light: var(--colors-sky-700);
  --color-secondary-dark: var(--colors-sky-100);
  --color-accent: var(--colors-lavender-700);
  --color-accent-light: var(--colors-lavender-900);
  --color-accent-dark: var(--colors-lavender-300);
  --color-success: var(--colors-mint-400);
  --color-success-light: var(--colors-mint-900);
  --color-success-dark: var(--colors-mint-300);
  --color-warning: var(--colors-amber-500);
  --color-warning-light: var(--colors-amber-900);
  --color-warning-dark: var(--colors-amber-300);
  --color-error: var(--colors-rose-500);
  --color-error-light: var(--colors-rose-900);
  --color-error-dark: var(--colors-rose-300);
  --color-info: var(--colors-sky-600);
  --color-info-light: var(--colors-sky-900);
  --color-info-dark: var(--colors-sky-300);
  --bg-primary: var(--colors-sage-700);
  --bg-primary-light: var(--colors-sage-900);
  --bg-primary-dark: var(--colors-sage-400);
  --bg-secondary: var(--colors-sky-200);
  --bg-secondary-light: var(--colors-sky-700);
  --bg-secondary-dark: var(--colors-sky-100);
  --bg-accent: var(--colors-lavender-700);
  --bg-accent-light: var(--colors-lavender-900);
  --bg-accent-dark: var(--colors-lavender-300);
  --bg-success: var(--colors-mint-400);
  --bg-success-light: var(--colors-mint-900);
  --bg-success-dark: var(--colors-mint-300);
  --bg-warning: var(--colors-amber-500);
  --bg-warning-light: var(--colors-amber-900);
  --bg-warning-dark: var(--colors-amber-300);
  --bg-error: var(--colors-rose-500);
  --bg-error-light: var(--colors-rose-900);
  --bg-error-dark: var(--colors-rose-300);
  --bg-info: var(--colors-sky-600);
  --bg-info-light: var(--colors-sky-900);
  --bg-info-dark: var(--colors-sky-300);
  --bg-default: var(--color-white);
  --bg-content: var(--color-stone-100);
  --bg-body: var(--color-stone-700);
  --bg-subtle: var(--color-stone-50);
  --bg-disabled: var(--color-stone-900);
  --bg-white: var(--color-black);
  --bg-black: var(--color-white);
  --border-primary: var(--colors-sage-700);
  --border-primary-light: var(--colors-sage-900);
  --border-primary-dark: var(--colors-sage-400);
  --border-secondary: var(--colors-sky-200);
  --border-secondary-light: var(--colors-sky-700);
  --border-secondary-dark: var(--colors-sky-100);
  --border-accent: var(--colors-lavender-700);
  --border-accent-light: var(--colors-lavender-900);
  --border-accent-dark: var(--colors-lavender-300);
  --border-success: var(--colors-mint-400);
  --border-success-light: var(--colors-mint-900);
  --border-success-dark: var(--colors-mint-300);
  --border-warning: var(--colors-amber-500);
  --border-warning-light: var(--colors-amber-900);
  --border-warning-dark: var(--colors-amber-300);
  --border-error: var(--colors-rose-500);
  --border-error-light: var(--colors-rose-900);
  --border-error-dark: var(--colors-rose-300);
  --border-info: var(--colors-sky-600);
  --border-info-light: var(--colors-sky-900);
  --border-info-dark: var(--colors-sky-300);
  --border-white: var(--color-black);
  --border-black: var(--color-white);
  --text-primary: var(--colors-sage-700);
  --text-primary-light: var(--colors-sage-900);
  --text-primary-dark: var(--colors-sage-400);
  --text-secondary: var(--colors-sky-200);
  --text-secondary-light: var(--colors-sky-700);
  --text-secondary-dark: var(--colors-sky-100);
  --text-accent: var(--colors-lavender-700);
  --text-accent-light: var(--colors-lavender-900);
  --text-accent-dark: var(--colors-lavender-300);
  --text-success: var(--colors-mint-400);
  --text-success-light: var(--colors-mint-900);
  --text-success-dark: var(--colors-mint-300);
  --text-warning: var(--colors-amber-500);
  --text-warning-light: var(--colors-amber-900);
  --text-warning-dark: var(--colors-amber-300);
  --text-error: var(--colors-rose-500);
  --text-error-light: var(--colors-rose-900);
  --text-error-dark: var(--colors-rose-300);
  --text-info: var(--colors-sky-600);
  --text-info-light: var(--colors-sky-900);
  --text-info-dark: var(--colors-sky-300);
  --text-white: var(--color-black);
  --text-black: var(--color-white);
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-stone-1000: #f6f5f7;
  --color-stone-900: #f4f2f2;
  --color-stone-800: #efefef;
  --color-stone-700: #ebebeb;
  --color-stone-600: #ccc9c9;
  --color-stone-500: #bdbcbc;
  --color-stone-400: #9b9898;
  --color-stone-300: #7e7b7b;
  --color-stone-200: #5b5757;
  --color-stone-100: #424040;
  --color-stone-50: #2e2b2b;
  --color-rose-1000: #ECD7C8;
  --color-rose-900: #FDD3D0;
  --color-rose-800: #FCB3AD;
  --color-rose-700: #FF6B69;
  --color-rose-600: #FF4040;
  --color-rose-500: #E11D48;
  --color-rose-400: #B60A30;
  --color-rose-300: #970D32;
  --color-rose-200: #840632;
  --color-rose-100: #670628;
  --color-amber-1000: #ffdbc2;
  --color-amber-900: #ffc088;
  --color-amber-800: #feac55;
  --color-amber-700: #f89938;
  --color-amber-600: #f88017;
  --color-amber-500: #f66e05;
  --color-amber-400: #d96c39;
  --color-amber-300: #cf5c27;
  --color-amber-200: #ba4914;
  --color-amber-100: #903a12;
  --color-sunset-1000: #fef4d9;
  --color-sunset-900: #fce6a6;
  --color-sunset-800: #f8cd72;
  --color-sunset-700: #eead4c;
  --color-sunset-600: #c98f0a;
  --color-sunset-500: #a36d07;
  --color-sunset-400: #805607;
  --color-sunset-300: #624206;
  --color-sunset-200: #4c3305;
  --color-sunset-100: #2f1e03;
  --color-moss-1000: #e6fff9;
  --color-moss-900: #acf8e2;
  --color-moss-800: #7be7bc;
  --color-moss-700: #6dc497;
  --color-moss-600: #4ba58e;
  --color-moss-500: #399;
  --color-moss-400: #007478;
  --color-moss-300: #005f5a;
  --color-moss-200: #0b4f4a;
  --color-moss-100: #022f2e;
  --color-sage-1000: #ecffda;
  --color-sage-900: #C0ea9a;
  --color-sage-800: #a5dd74;
  --color-sage-700: #8DC757;
  --color-sage-600: #72d87e;
  --color-sage-500: #62ca99;
  --color-sage-400: #559B61;
  --color-sage-300: #3b8749;
  --color-sage-200: #1d653f;
  --color-sage-100: #0f3d2d;
  --color-sky-1000: #ECEDEE;
  --color-sky-900: #D8DDE4;
  --color-sky-800: #C4CDD7;
  --color-sky-700: #A2AEBA;
  --color-sky-600: #8D99A4;
  --color-sky-500: #697682;
  --color-sky-400: #5D7286;
  --color-sky-300: #525B71;
  --color-sky-200: #33346D;
  --color-sky-100: #353744;
  --color-mint-1000: #deffe1;
  --color-mint-900: #c4feca;
  --color-mint-800: #9df994;
  --color-mint-700: #75f673;
  --color-mint-600: #64ee74;
  --color-mint-500: #51dc61;
  --color-mint-400: #3ecb73;
  --color-mint-300: #3da364;
  --color-mint-200: #30794c;
  --color-mint-100: #205735;
  --color-lavender-1000: #f7e8ff;
  --color-lavender-900: #d5b4ee;
  --color-lavender-800: #b89ce2;
  --color-lavender-700: #a589ce;
  --color-lavender-600: #9c80c5;
  --color-lavender-500: #7d5fab;
  --color-lavender-400: #7254a0;
  --color-lavender-300: #5e4684;
  --color-lavender-200: #43315e;
  --color-lavender-100: #302343;
}