@theme {
  --color-primary: var(--colors-sage-400);
  --color-primary-light: var(--colors-sage-200);
  --color-primary-dark: var(--colors-sage-700);
  --color-secondary: var(--colors-sky-900);
  --color-secondary-light: var(--colors-sky-400);
  --color-secondary-dark: var(--colors-sky-1000);
  --color-accent: var(--colors-lavender-400);
  --color-accent-light: var(--colors-lavender-200);
  --color-accent-dark: var(--colors-lavender-800);
  --color-success: var(--colors-mint-700);
  --color-success-light: var(--colors-mint-200);
  --color-success-dark: var(--colors-mint-800);
  --color-warning: var(--colors-amber-600);
  --color-warning-light: var(--colors-amber-200);
  --color-warning-dark: var(--colors-amber-800);
  --color-error: var(--colors-rose-600);
  --color-error-light: var(--colors-rose-200);
  --color-error-dark: var(--colors-rose-800);
  --color-info: var(--colors-sky-500);
  --color-info-light: var(--colors-sky-200);
  --color-info-dark: var(--colors-sky-800);
   --bg-primary: var(--colors-sage-400);
  --bg-primary-light: var(--colors-sage-200);
  --bg-primary-dark: var(--colors-sage-700);
  --bg-secondary: var(--colors-sky-900);
  --bg-secondary-light: var(--colors-sky-400);
  --bg-secondary-dark: var(--colors-sky-1000);
  --bg-accent: var(--colors-lavender-400);
  --bg-accent-light: var(--colors-lavender-200);
  --bg-accent-dark: var(--colors-lavender-800);
  --bg-success: var(--colors-mint-700);
  --bg-success-light: var(--colors-mint-200);
  --bg-success-dark: var(--colors-mint-800);
  --bg-warning: var(--colors-amber-600);
  --bg-warning-light: var(--colors-amber-200);
  --bg-warning-dark: var(--colors-amber-800);
  --bg-error: var(--colors-rose-600);
  --bg-error-light: var(--colors-rose-200);
  --bg-error-dark: var(--colors-rose-800);
  --bg-info: var(--colors-sky-500);
  --bg-info-light: var(--colors-sky-200);
  --bg-info-dark: var(--colors-sky-800);
  --bg-default: var(--color-white);
  --bg-content: var(--color-stone-100);
  --bg-body: var(--color-stone-400);
  --bg-subtle: var(--color-stone-50);
  --bg-disabled: var(--color-stone-200);
   --border-primary: var(--colors-sage-400);
  --border-primary-light: var(--colors-sage-200);
  --border-primary-dark: var(--colors-sage-700);
  --border-secondary: var(--colors-sky-900);
  --border-secondary-light: var(--colors-sky-400);
  --border-secondary-dark: var(--colors-sky-1000);
  --border-accent: var(--colors-lavender-400);
  --border-accent-light: var(--colors-lavender-200);
  --border-accent-dark: var(--colors-lavender-800);
  --border-success: var(--colors-mint-700);
  --border-success-light: var(--colors-mint-200);
  --border-success-dark: var(--colors-mint-800);
  --border-warning: var(--colors-amber-600);
  --border-warning-light: var(--colors-amber-200);
  --border-warning-dark: var(--colors-amber-800);
  --border-error: var(--colors-rose-600);
  --border-error-light: var(--colors-rose-200);
  --border-error-dark: var(--colors-rose-800);
  --border-info: var(--colors-sky-500);
  --border-info-light: var(--colors-sky-200);
  --border-info-dark: var(--colors-sky-800);
   --text-primary: var(--colors-sage-400);
  --text-primary-light: var(--colors-sage-200);
  --text-primary-dark: var(--colors-sage-700);
  --text-secondary: var(--colors-sky-900);
  --text-secondary-light: var(--colors-sky-400);
  --text-secondary-dark: var(--colors-sky-1000);
  --text-accent: var(--colors-lavender-400);
  --text-accent-light: var(--colors-lavender-200);
  --text-accent-dark: var(--colors-lavender-800);
  --text-success: var(--colors-mint-700);
  --text-success-light: var(--colors-mint-200);
  --text-success-dark: var(--colors-mint-800);
  --text-warning: var(--colors-amber-600);
  --text-warning-light: var(--colors-amber-200);
  --text-warning-dark: var(--colors-amber-800);
  --text-error: var(--colors-rose-600);
  --text-error-light: var(--colors-rose-200);
  --text-error-dark: var(--colors-rose-800);
  --text-info: var(--colors-sky-500);
  --text-info-light: var(--colors-sky-200);
  --text-info-dark: var(--colors-sky-800);
}