@import "./colors.css";

@theme {
  --bg-primary: var(--colors-sage-400, #8DC757);
  --bg-primary-light: var(--colors-sage-200, #C0ea9a);
  --bg-primary-dark: var(--colors-sage-700, #559B61);
  --bg-secondary: var(--colors-sky-900, #33346D);
  --bg-secondary-light: var(--colors-sky-400, #A2AEBA);
  --bg-secondary-dark: var(--colors-sky-1000, #353744);
  --bg-accent: var(--colors-lavender-400, #a589ce);
  --bg-accent-light: var(--colors-lavender-200, #d5b4ee);
  --bg-accent-dark: var(--colors-lavender-800, #5e4684);
  --bg-success: var(--colors-mint-700, #3ecb73);
  --bg-success-light: var(--colors-mint-200, #c4feca);
  --bg-success-dark: var(--colors-mint-800, #3da364);
  --bg-warning: var(--colors-amber-600, #f66e05);
  --bg-warning-light: var(--colors-amber-200, #ffc088);
  --bg-warning-dark: var(--colors-amber-800, #cf5c27);
  --bg-error: var(--colors-rose-600, #E11D48);
  --bg-error-light: var(--colors-rose-200, #FDD3D0);
  --bg-error-dark: var(--colors-rose-800, #970D32);
  --bg-info: var(--colors-sky-500, #8D99A4);
  --bg-info-light: var(--colors-sky-200, #D8DDE4);
  --bg-info-dark: var(--colors-sky-800, #525B71);
  --bg-primary\/90: rgb(141 199 87 / 90%);
  --bg-primary\/50: rgb(141 199 87 / 50%);
  --bg-primary\/30: rgb(141 199 87 / 30%);
  --bg-primary\/10: rgb(141 199 87 / 10%);
  --bg-secondary\/90: rgb(51 52 109 / 90%);
  --bg-secondary\/50: rgb(51 52 109 / 50%);
  --bg-secondary\/30: rgb(51 52 109 / 30%);
  --bg-secondary\/10: rgb(51 52 109 / 10%);

  /* Greyscale */
  --bg-white: #FFF;
  --bg-black: #000;
  --bg-contrast: #FFF;
  --bg-stone-50: #f6f5f7;
  --bg-stone-100: #f3f3f3;
  --bg-stone-200: #efecec;
  --bg-stone-300: #e9e7e9;
  --bg-stone-400: #d2cdcd;
  --bg-stone-500: #c3bfbf;
  --bg-stone-600: #969798;
  --bg-stone-700: #7e7b7c;
  --bg-stone-800: #625c5d;
  --bg-stone-900: #484440;
  --bg-stone-1000: #32302b;

  /* Opacity */
  --bg-stone-50\/90: rgb(246 245 247 / 90%);
  --bg-stone-100\/90: rgb(243 243 243 / 90%);
  --bg-stone-200\/90: rgb(239 236 236 / 90%);
  --bg-stone-300\/90: rgb(233 231 233 / 90%);
  --bg-stone-400\/90: rgb(210 205 205 / 90%);
  --bg-stone-500\/90: rgb(195 191 191 / 90%);
  --bg-stone-600\/90: rgb(150 151 152 / 90%);
  --bg-stone-700\/90: rgb(126 123 124 / 90%);
  --bg-stone-800\/90: rgb(98 92 93 / 90%);
  --bg-stone-900\/90: rgb(72 68 64 / 90%);
  --bg-stone-1000\/90: rgb(50 48 43 / 90%);
  --bg-stone-50\/50: rgb(246 245 247 / 50%);
  --bg-stone-100\/50: rgb(243 243 243 / 50%);
  --bg-stone-200\/50: rgb(239 236 236 / 50%);
  --bg-stone-300\/50: rgb(233 231 233 / 50%);
  --bg-stone-400\/50: rgb(210 205 205 / 50%);
  --bg-stone-500\/50: rgb(195 191 191 / 50%);
  --bg-stone-600\/50: rgb(150 151 152 / 50%);
  --bg-stone-700\/50: rgb(126 123 124 / 50%);
  --bg-stone-800\/50: rgb(98 92 93 / 50%);
  --bg-stone-900\/50: rgb(72 68 64 / 50%);
  --bg-stone-1000\/50: rgb(50 48 43 / 50%);
  --bg-stone-50\/30: rgb(246 245 247 / 30%);
  --bg-stone-100\/30: rgb(243 243 243 / 30%);
  --bg-stone-200\/30: rgb(239 236 236 / 30%);
  --bg-stone-300\/30: rgb(233 231 233 / 30%);
  --bg-stone-400\/30: rgb(210 205 205 / 30%);
  --bg-stone-500\/30: rgb(195 191 191 / 30%);
  --bg-stone-600\/30: rgb(150 151 152 / 30%);
  --bg-stone-700\/30: rgb(126 123 124 / 30%);
  --bg-stone-800\/30: rgb(98 92 93 / 30%);
  --bg-stone-900\/30: rgb(72 68 64 / 30%);
  --bg-stone-1000\/30: rgb(50 48 43 / 30%);
  --bg-stone-50\/10: rgb(246 245 247 / 10%);
  --bg-stone-100\/10: rgb(243 243 243 / 10%);
  --bg-stone-200\/10: rgb(239 236 236 / 10%);
  --bg-stone-300\/10: rgb(233 231 233 / 10%);
  --bg-stone-400\/10: rgb(210 205 205 / 10%);
  --bg-stone-500\/10: rgb(195 191 191 / 10%);
  --bg-stone-600\/10: rgb(150 151 152 / 10%);
  --bg-stone-700\/10: rgb(126 123 124 / 10%);
  --bg-stone-800\/10: rgb(98 92 93 / 10%);
  --bg-stone-900\/10: rgb(72 68 64 / 10%);
  --bg-stone-1000\/10: rgb(50 48 43 / 10%);
  --bg-rose\/90: rgb(228 68 68 / 90%);
  --bg-rose\/50: rgb(228 68 68 / 50%);
  --bg-rose\/30: rgb(228 68 68 / 30%);
  --bg-rose\/10: rgb(228 68 68 / 10%);
  --bg-amber\/90: rgb(248 153 56 / 90%);
  --bg-amber\/50: rgb(248 153 56 / 50%);
  --bg-amber\/30: rgb(248 153 56 / 30%);
  --bg-amber\/10: rgb(248 153 56 / 10%);
  --bg-sunset\/90: rgb(234 179 47 / 90%);
  --bg-sunset\/50: rgb(234 179 47 / 50%);
  --bg-sunset\/30: rgb(234 179 47 / 30%);
  --bg-sunset\/10: rgb(234 179 47 / 10%);
  --bg-moss\/90: rgb(116 181 78 / 90%);
  --bg-moss\/50: rgb(116 181 78 / 50%);
  --bg-moss\/30: rgb(116 181 78 / 30%);
  --bg-moss\/10: rgb(116 181 78 / 10%);
  --bg-sage\/90: rgb(75 165 142 / 90%);
  --bg-sage\/50: rgb(75 165 142 / 50%);
  --bg-sage\/30: rgb(75 165 142 / 30%);
  --bg-sage\/10: rgb(75 165 142 / 10%);
  --bg-sky\/90: rgb(118 149 220 / 90%);
  --bg-sky\/50: rgb(118 149 220 / 50%);
  --bg-sky\/30: rgb(118 149 220 / 30%);
  --bg-sky\/10: rgb(118 149 220 / 10%);
  --bg-mint\/90: rgb(109 196 151 / 90%);
  --bg-mint\/50: rgb(109 196 151 / 50%);
  --bg-mint\/30: rgb(109 196 151 / 30%);
  --bg-mint\/10: rgb(109 196 151 / 10%);
  --bg-lavender\/90: rgb(163 31 207 / 90%);
  --bg-lavender\/50: rgb(163 31 207 / 50%);
  --bg-lavender\/30: rgb(163 31 207 / 30%);
  --bg-lavender\/10: rgb(163 31 207 / 10%);
}

@layer utilities {
  .bg-default {
    background-color: var(--color-white);
  }

  .bg-content {
    background-color: var(--color-stone-100);
  }

  .bg-body {
    background-color: var(--color-stone-400);
  }

  .bg-subtle {
    background-color: var(--color-stone-50);
  }

  .bg-disabled {
    background-color: var(--color-stone-200);
  }

  .bg-primary {
    background-color: var(--color-primary, #8DC757);
  }

  .hover\:bg-primary:hover {
    background-color: var(--color-primary, #8DC757);
  }

  .bg-primary-light {
    background-color: var(--color-primary-light, #C0EA9A);
  }

  .bg-primary-dark {
    background-color: var(--color-primary-dark, #559B61);
  }

  .bg-secondary {
    background-color: var(--color-secondary, #33346D);
  }

  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary, #33346D);
  }

  .bg-secondary-light {
    background-color: var(--color-secondary-light, #A2AEBA);
  }

  .bg-secondary-dark {
    background-color: var(--color-secondary-dark, #353744);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-accent-light {
    background-color: var(--color-accent-light);
  }

  .bg-accent-dark {
    background-color: var(--color-accent-dark);
  }

  .bg-success {
    background-color: var(--color-success);
  }

  .bg-success-light {
    background-color: var(--color-success-light);
  }

  .bg-success-dark {
    background-color: var(--color-success-dark);
  }

  .bg-warning {
    background-color: var(--color-warning);
  }

  .bg-warning-light {
    background-color: var(--color-warning-light);
  }

  .bg-warning-dark {
    background-color: var(--color-warning-dark);
  }

  .bg-error {
    background-color: var(--color-error);
  }

  .bg-error-light {
    background-color: var(--color-error-light);
  }

  .bg-error-dark {
    background-color: var(--color-error-dark);
  }

  .bg-info {
    background-color: var(--color-info);
  }

  .bg-info-light {
    background-color: var(--color-info-light);
  }

  .bg-info-dark {
    background-color: var(--color-info-dark);
  }

  .bg-gradient-primary {
    background: linear-gradient(135deg, rgb(141 199 87 / 100%) 0%, rgb(75 165 142 / 100%) 100%);
  }

  .hover\:bg-gradient-primary:hover {
    background: linear-gradient(135deg, rgb(141 199 87 / 100%) 0%, rgb(0 188 125 / 100%) 46%, rgb(51 153 153 / 100%) 100%);
  }

  .bg-gradient-secondary {
    background: linear-gradient(90deg, rgb(51 52 109 / 100%) 0%, rgb(85 155 97 / 100%) 100%);
  }

  .hover\:bg-gradient-secondary-dark:hover {
    background: linear-gradient(90deg, rgb(32 32 58 / 100%) 0%, rgb(59 135 73 / 100%) 100%);
  }

  .bg-gradient-tertiary {
    background: linear-gradient(135deg, rgb(16 24 40 / 100%) 0%, rgb(30 41 57 / 100%) 50%, rgb(0 79 59 / 100%) 100%);
  }

  .hover\:bg-gradient-tertiary:hover {
    background: linear-gradient(135deg, rgb(16 24 40 / 100%) 0%, rgb(30 41 57 / 100%) 50%, rgb(0 79 59 / 100%) 100%);
  }

  .bg-gradient-ocean {
    background: linear-gradient(135deg, rgb(0 213 190 / 100%) 0%, rgb(43 127 255 / 100%) 100%);
  }

  .bg-gradient-emerald {
    background: linear-gradient(135deg, rgb(0 212 146 / 100%) 0%, rgb(0 187 167 / 100%) 100%);
  }

  .hover\:bg-gradient-emerald:hover {
    background: linear-gradient(135deg, rgb(0 212 146 / 100%) 0%, rgb(0 187 167 / 100%) 100%);
  }
}

.btn-gradient-primary {
  background-image: linear-gradient(to right,
      rgb(141 199 87) 0%,
      rgb(165 221 116) 15%,
      rgb(116 181 78) 53%,
      rgb(85 155 97) 100%);
}

.btn-gradient-primary {
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  background-position: right center;
}

.btn-gradient-primary:hover {
  background-position: left center;
}

.btn-gradient-secondary {
  background-image: linear-gradient(to right,
      rgb(162 192 238) 0%,
      rgb(95 105 189) 31%,
      rgb(83 85 184) 53%,
      rgb(51 52 109) 79%,
      rgb(32 32 58) 100%);
}

.btn-gradient-secondary {
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  background-position: right center;
}

.btn-gradient-secondary:hover {
  background-position: left center;
}