@import "./colors.css";

@theme {
  --border-primary: var(--colors-sage-400, #8DC757);
  --border-primary-light: var(--colors-sage-200, #C0ea9a);
  --border-primary-dark: var(--colors-sage-700, #559B61);
  --border-secondary: var(--colors-sky-900, #33346D);
  --border-secondary-light: var(--colors-sky-400, #A2AEBA);
  --border-secondary-dark: var(--colors-sky-1000, #353744);
  --border-accent: var(--colors-lavender-400, #a589ce);
  --border-accent-light: var(--colors-lavender-200, #d5b4ee);
  --border-accent-dark: var(--colors-lavender-800, #5e4684);
  --border-success: var(--colors-mint-700, #3ecb73);
  --border-success-light: var(--colors-mint-200, #c4feca);
  --border-success-dark: var(--colors-mint-800, #3da364);
  --border-warning: var(--colors-amber-600, #f66e05);
  --border-warning-light: var(--colors-amber-200, #ffc088);
  --border-warning-dark: var(--colors-amber-800, #cf5c27);
  --border-error: var(--colors-rose-600, #E11D48);
  --border-error-light: var(--colors-rose-200, #FDD3D0);
  --border-error-dark: var(--colors-rose-800, #970D32);
  --border-info: var(--colors-sky-500, #8D99A4);
  --border-info-light: var(--colors-sky-200, #D8DDE4);
  --border-info-dark: var(--colors-sky-800, #525B71);
  --border-primary\/90: rgb(141 199 87 / 90%);
  --border-primary\/50: rgb(141 199 87 / 50%);
  --border-primary\/30: rgb(141 199 87 / 30%);
  --border-primary\/10: rgb(141 199 87 / 10%);
  --border-secondary\/90: rgb(51 52 109 / 90%);
  --border-secondary\/50: rgb(51 52 109 / 50%);
  --border-secondary\/30: rgb(51 52 109 / 30%);
  --border-secondary\/10: rgb(51 52 109 / 10%);

  /* Greyscale */
  --border-white: #FFF;
  --border-black: #000;
  --border-contrast: #FFF;
  --border-stone-50: #f6f5f7;
  --border-stone-100: #f3f3f3;
  --border-stone-200: #efecec;
  --border-stone-300: #e9e7e9;
  --border-stone-400: #d2cdcd;
  --border-stone-500: #c3bfbf;
  --border-stone-600: #969798;
  --border-stone-700: #7e7b7c;
  --border-stone-800: #625c5d;
  --border-stone-900: #484440;
  --border-stone-1000: #32302b;

  /* Opacity */
  --border-stone-50\/90: rgb(246 245 247 / 90%);
  --border-stone-100\/90: rgb(243 243 243 / 90%);
  --border-stone-200\/90: rgb(239 236 236 / 90%);
  --border-stone-300\/90: rgb(233 231 233 / 90%);
  --border-stone-400\/90: rgb(210 205 205 / 90%);
  --border-stone-500\/90: rgb(195 191 191 / 90%);
  --border-stone-600\/90: rgb(150 151 152 / 90%);
  --border-stone-700\/90: rgb(126 123 124 / 90%);
  --border-stone-800\/90: rgb(98 92 93 / 90%);
  --border-stone-900\/90: rgb(72 68 64 / 90%);
  --border-stone-1000\/90: rgb(50 48 43 / 90%);
  --border-stone-50\/50: rgb(246 245 247 / 50%);
  --border-stone-100\/50: rgb(243 243 243 / 50%);
  --border-stone-200\/50: rgb(239 236 236 / 50%);
  --border-stone-300\/50: rgb(233 231 233 / 50%);
  --border-stone-400\/50: rgb(210 205 205 / 50%);
  --border-stone-500\/50: rgb(195 191 191 / 50%);
  --border-stone-600\/50: rgb(150 151 152 / 50%);
  --border-stone-700\/50: rgb(126 123 124 / 50%);
  --border-stone-800\/50: rgb(98 92 93 / 50%);
  --border-stone-900\/50: rgb(72 68 64 / 50%);
  --border-stone-1000\/50: rgb(50 48 43 / 50%);
  --border-stone-50\/30: rgb(246 245 247 / 30%);
  --border-stone-100\/30: rgb(243 243 243 / 30%);
  --border-stone-200\/30: rgb(239 236 236 / 30%);
  --border-stone-300\/30: rgb(233 231 233 / 30%);
  --border-stone-400\/30: rgb(210 205 205 / 30%);
  --border-stone-500\/30: rgb(195 191 191 / 30%);
  --border-stone-600\/30: rgb(150 151 152 / 30%);
  --border-stone-700\/30: rgb(126 123 124 / 30%);
  --border-stone-800\/30: rgb(98 92 93 / 30%);
  --border-stone-900\/30: rgb(72 68 64 / 30%);
  --border-stone-1000\/30: rgb(50 48 43 / 30%);
  --border-stone-50\/10: rgb(246 245 247 / 10%);
  --border-stone-100\/10: rgb(243 243 243 / 10%);
  --border-stone-200\/10: rgb(239 236 236 / 10%);
  --border-stone-300\/10: rgb(233 231 233 / 10%);
  --border-stone-400\/10: rgb(210 205 205 / 10%);
  --border-stone-500\/10: rgb(195 191 191 / 10%);
  --border-stone-600\/10: rgb(150 151 152 / 10%);
  --border-stone-700\/10: rgb(126 123 124 / 10%);
  --border-stone-800\/10: rgb(98 92 93 / 10%);
  --border-stone-900\/10: rgb(72 68 64 / 10%);
  --border-stone-1000\/10: rgb(50 48 43 / 10%);
  --border-rose\/90: rgb(228 68 68 / 90%);
  --border-rose\/50: rgb(228 68 68 / 50%);
  --border-rose\/30: rgb(228 68 68 / 30%);
  --border-rose\/10: rgb(228 68 68 / 10%);
  --border-amber\/90: rgb(248 153 56 / 90%);
  --border-amber\/50: rgb(248 153 56 / 50%);
  --border-amber\/30: rgb(248 153 56 / 30%);
  --border-amber\/10: rgb(248 153 56 / 10%);
  --border-sunset\/90: rgb(234 179 47 / 90%);
  --border-sunset\/50: rgb(234 179 47 / 50%);
  --border-sunset\/30: rgb(234 179 47 / 30%);
  --border-sunset\/10: rgb(234 179 47 / 10%);
  --border-moss\/90: rgb(116 181 78 / 90%);
  --border-moss\/50: rgb(116 181 78 / 50%);
  --border-moss\/30: rgb(116 181 78 / 30%);
  --border-moss\/10: rgb(116 181 78 / 10%);
  --border-sage\/90: rgb(75 165 142 / 90%);
  --border-sage\/50: rgb(75 165 142 / 50%);
  --border-sage\/30: rgb(75 165 142 / 30%);
  --border-sage\/10: rgb(75 165 142 / 10%);
  --border-sky\/90: rgb(118 149 220 / 90%);
  --border-sky\/50: rgb(118 149 220 / 50%);
  --border-sky\/30: rgb(118 149 220 / 30%);
  --border-sky\/10: rgb(118 149 220 / 10%);
  --border-mint\/90: rgb(109 196 151 / 90%);
  --border-mint\/50: rgb(109 196 151 / 50%);
  --border-mint\/30: rgb(109 196 151 / 30%);
  --border-mint\/10: rgb(109 196 151 / 10%);
  --border-lavender\/90: rgb(163 31 207 / 90%);
  --border-lavender\/50: rgb(163 31 207 / 50%);
  --border-lavender\/30: rgb(163 31 207 / 30%);
  --border-lavender\/10: rgb(163 31 207 / 10%);
}

@layer utilities {
  .border-default {
    border-color: var(--color-neutral-400);
  }

  .border-subtle {
    border-color: var(--color-neutral-300);
  }

  .border-disabled {
    border-color: var(--color-neutral-200);
  }

  .border-primary {
    border-color: var(--color-primary, #8DC757);
  }

    .hover\:border-primary:hover {
    border-color: var(--color-primary, #8DC757);
  }

  .border-primary-light {
    border-color: var(--color-primary-light);
  }

  .border-primary-dark {
    border-color: var(--color-primary-dark);
  }

  .border-secondary {
    border-color: var(--color-secondary);
  }

    .hover\:border-secondary:hover {
    border-color: var(--color-secondary);
  }

  .border-secondary-light {
    border-color: var(--color-secondary-light);
  }

  .border-secondary-dark {
    border-color: var(--color-secondary-dark);
  }

  .border-accent {
    border-color: var(--color-accent);
  }

  .border-accent-light {
    border-color: var(--color-accent-light);
  }

  .border-accent-dark {
    border-color: var(--color-accent-dark);
  }

  .border-success {
    border-color: var(--color-success);
  }

  .border-success-light {
    border-color: var(--color-success-light);
  }

  .border-success-dark {
    border-color: var(--color-success-dark);
  }

  .border-warning {
    border-color: var(--color-warning);
  }

  .border-warning-light {
    border-color: var(--color-warning-light);
  }

  .border-warning-dark {
    border-color: var(--color-warning-dark);
  }

  .border-error {
    border-color: var(--color-error);
  }

  .border-error-light {
    border-color: var(--color-error-light);
  }

  .border-error-dark {
    border-color: var(--color-error-dark);
  }

  .border-info {
    border-color: var(--color-info);
  }

  .border-info-light {
    border-color: var(--color-info-light);
  }

  .border-info-dark {
    border-color: var(--color-info-dark);
  }
}