@import "./colors.css";

@layer utilities {
  .border-default { border-color: var(--color-neutral-400); }
  .border-subtle { border-color: var(--color-neutral-300); }
  .border-disabled { border-color: var(--color-neutral-200); }

  .border-primary { border-color: var(--color-primary); }
  .border-primary-light { border-color: var(--color-primary-light); }
  .border-primary-dark { border-color: var(--color-primary-dark); }

  .border-secondary { border-color: var(--color-secondary); }
  .border-secondary-light { border-color: var(--color-secondary-light); }
  .border-secondary-dark { border-color: var(--color-secondary-dark); }

  .border-accent { border-color: var(--color-accent); }
  .border-accent-light { border-color: var(--color-accent-light); }
  .border-accent-dark { border-color: var(--color-accent-dark); }

  .border-success { border-color: var(--color-success); }
  .border-success-light { border-color: var(--color-success-light); }
  .border-success-dark { border-color: var(--color-success-dark); }

  .border-warning { border-color: var(--color-warning); }
  .border-warning-light { border-color: var(--color-warning-light); }
  .border-warning-dark { border-color: var(--color-warning-dark); }

  .border-error { border-color: var(--color-error); }
  .border-error-light { border-color: var(--color-error-light); }
  .border-error-dark { border-color: var(--color-error-dark); }
  .border-error\/50 { border-color: var(--color-error, rgb(201 37 48 / 50%)); }

  .border-info { border-color: var(--color-info); }
  .border-info-light { border-color: var(--color-info-light); }
  .border-info-dark { border-color: var(--color-info-dark); }
}