:root {
  --color-primary: var(--colors-blueberry-900);
  --color-primary-light: var(--colors-blueberry-200);
  --color-primary-dark: var(--colors-blueberry-800);
  --color-secondary: var(--colors-moss-700);
  --color-secondary-light: var(--colors-moss-200);
  --color-secondary-dark: var(--colors-moss-800);
  --color-accent: var(--colors-moss-400);
  --color-accent-light: var(--colors-moss-200);
  --color-accent-dark: var(--colors-moss-800);
  --color-success: var(--colors-moss-700);
  --color-success-light: var(--colors-moss-200);
  --color-success-dark: var(--colors-moss-800);
  --color-warning: var(--colors-tangerine-600);
  --color-warning-light: var(--colors-tangerine-200);
  --color-warning-dark: var(--colors-tangerine-800);
  --color-error: var(--colors-cherry-600);
  --color-error-light: var(--colors-cherry-200);
  --color-error-dark: var(--colors-cherry-800);
  --color-info: var(--colors-blueberry-500);
  --color-info-light: var(--colors-blueberry-200);
  --color-info-dark: var(--colors-blueberry-800);
  --color-grape-300-opacity: rgb(184 156 226 / 40%);
  --color-teal-200-opacity: rgb(147 211 208 / 40%);
  --color-blush-300-opacity: rgb(247 90 93 / 40%);
  --color-grape-light: #DDD1EE;
  --color-teal-light: #CEE8E6;
  --color-blush-light: #F6B7B8;
}

@theme {
  --color-cherry-100:#ffd6d7;
  --color-cherry-200:#ffb4b6;
  --color-cherry-300:#f75a5d;
  --color-cherry-400:#d13d40;
  --color-cherry-500:#c52b2e;
  --color-cherry-600:#c92530;
  --color-cherry-700:#ae172e;
  --color-cherry-800:#a8122d;
  --color-cherry-900:#811123;
  --color-cherry-1000:#671213;
  --color-tangerine-100:#ffdbc2;
  --color-tangerine-200:#ffc088;
  --color-tangerine-300:#feac55;
  --color-tangerine-400:#ff9421;
  --color-tangerine-500:#ff9537;
  --color-tangerine-600:#fb8429;
  --color-tangerine-700:#d96c39;
  --color-tangerine-800:#cf5c27;
  --color-tangerine-900:#ba4914;
  --color-tangerine-1000:#903a12;
  --color-sunset-100:#ffe2a7;
  --color-sunset-200:#ffce68;
  --color-sunset-300:#ffbe39;
  --color-sunset-400:#feb92c;
  --color-sunset-500:#f0a202;
  --color-sunset-600:#db9c08;
  --color-sunset-700:#d78e06;
  --color-sunset-800:#c5790f;
  --color-sunset-900:#ad6008;
  --color-sunset-1000:#6d3a0e;
  --color-moss-100:#ECFFDA;
  --color-moss-200:#C0EA9A;
  --color-moss-300:#A5DD74;
  --color-moss-400:#8CC857;
  --color-moss-500:#74B54E;
  --color-moss-600:#61BC54;
  --color-moss-700:#559C62;
  --color-moss-800:#3B8749;
  --color-moss-900:#1D653F;
  --color-moss-1000:#0F3D2D;
  --color-blueberry-100:#E8EFFF;
  --color-blueberry-200:#BCCFF7;
  --color-blueberry-300:#A2C0EE;
  --color-blueberry-400:#8DA5E7;
  --color-blueberry-500:#7695DC;
  --color-blueberry-600:#5F69BD;
  --color-blueberry-700:#5355B8;
  --color-blueberry-800:#454694;
  --color-blueberry-900:#33346D;
  --color-blueberry-1000:#20203A;
  --color-mint-100:#deffe1;
  --color-mint-200:#c4feca;
  --color-mint-300:#9df994;
  --color-mint-400:#75f673;
  --color-mint-500:#64ee74;
  --color-mint-600:#51dc61;
  --color-mint-700:#3ecb73;
  --color-mint-800:#3da364;
  --color-mint-900:#30794c;
  --color-mint-1000:#205735;
  --color-grape-100:#f7e8ff;
  --color-grape-200:#d5b4ee;
  --color-grape-300:#b89ce2;
  --color-grape-400:#a589ce;
  --color-grape-500:#9c80c5;
  --color-grape-600:#7d5fab;
  --color-grape-700:#7254a0;
  --color-grape-800:#5e4684;
  --color-grape-900:#43315e;
  --color-grape-1000:#302343;

  /* Greyscale */
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
  --color-neutral-50:#f6f5f7;
  --color-neutral-100:#f4f2f2;
  --color-neutral-200:#efefef;
  --color-neutral-300:#ebebeb;
  --color-neutral-400:#ccc9c9;
  --color-neutral-500:#bdbcbc;
  --color-neutral-600:#9b9898;
  --color-neutral-700:#7e7b7b;
  --color-neutral-800:#5b5757;
  --color-neutral-900:#424040;
  --color-neutral-1000:#2e2b2b;
  --color-error-opacity: rgb(247 90 93 / 8%);
  --color-primary-opacity: rgb(94 70 132 / 8%);
  --color-secondary-opacity: rgb(45 201 201 / 8%);
  --color-warning-opacity: rgb(240 162 2 / 8%);
  --color-success-opacity: rgb(100 238 116 / 8%);
  --color-info-opacity: rgb(34 166 211 / 8%);
}

:root {
  --color-cherry-100:#ffd6d7;
  --color-cherry-200:#ffb4b6;
  --color-cherry-300:#f75a5d;
  --color-cherry-400:#d13d40;
  --color-cherry-500:#c52b2e;
  --color-cherry-600:#c92530;
  --color-cherry-700:#ae172e;
  --color-cherry-800:#a8122d;
  --color-cherry-900:#811123;
  --color-cherry-1000:#671213;
  --color-tangerine-100:#ffdbc2;
  --color-tangerine-200:#ffc088;
  --color-tangerine-300:#feac55;
  --color-tangerine-400:#ff9421;
  --color-tangerine-500:#ff9537;
  --color-tangerine-600:#fb8429;
  --color-tangerine-700:#d96c39;
  --color-tangerine-800:#cf5c27;
  --color-tangerine-900:#ba4914;
  --color-tangerine-1000:#903a12;
  --color-sunset-100:#ffe2a7;
  --color-sunset-200:#ffce68;
  --color-sunset-300:#ffbe39;
  --color-sunset-400:#feb92c;
  --color-sunset-500:#f0a202;
  --color-sunset-600:#db9c08;
  --color-sunset-700:#d78e06;
  --color-sunset-800:#c5790f;
  --color-sunset-900:#ad6008;
  --color-sunset-1000:#6d3a0e;
  --color-moss-100:#ECFFDA;
  --color-moss-200:#C0EA9A;
  --color-moss-300:#A5DD74;
  --color-moss-400:#8CC857;
  --color-moss-500:#74B54E;
  --color-moss-600:#61BC54;
  --color-moss-700:#559C62;
  --color-moss-800:#3B8749;
  --color-moss-900:#1D653F;
  --color-moss-1000:#0F3D2D;
  --color-blueberry-100:#E8EFFF;
  --color-blueberry-200:#BCCFF7;
  --color-blueberry-300:#A2C0EE;
  --color-blueberry-400:#8DA5E7;
  --color-blueberry-500:#7695DC;
  --color-blueberry-600:#5F69BD;
  --color-blueberry-700:#5355B8;
  --color-blueberry-800:#454694;
  --color-blueberry-900:#33346D;
  --color-blueberry-1000:#20203A;
  --color-mint-100:#deffe1;
  --color-mint-200:#c4feca;
  --color-mint-300:#9df994;
  --color-mint-400:#75f673;
  --color-mint-500:#64ee74;
  --color-mint-600:#51dc61;
  --color-mint-700:#3ecb73;
  --color-mint-800:#3da364;
  --color-mint-900:#30794c;
  --color-mint-1000:#205735;
  --color-grape-100:#f7e8ff;
  --color-grape-200:#d5b4ee;
  --color-grape-300:#b89ce2;
  --color-grape-400:#a589ce;
  --color-grape-500:#9c80c5;
  --color-grape-600:#7d5fab;
  --color-grape-700:#7254a0;
  --color-grape-800:#5e4684;
  --color-grape-900:#43315e;
  --color-grape-1000:#302343;

  /* Greyscale */
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
  --color-neutral-50:#f6f5f7;
  --color-neutral-100:#f4f2f2;
  --color-neutral-200:#efefef;
  --color-neutral-300:#ebebeb;
  --color-neutral-400:#ccc9c9;
  --color-neutral-500:#bdbcbc;
  --color-neutral-600:#9b9898;
  --color-neutral-700:#7e7b7b;
  --color-neutral-800:#5b5757;
  --color-neutral-900:#424040;
  --color-neutral-1000:#2e2b2b;
  --color-error-opacity: rgb(247 90 93 / 8%);
  --color-primary-opacity: rgb(94 70 132 / 8%);
  --color-secondary-opacity: rgb(45 201 201 / 8%);
  --color-warning-opacity: rgb(240 162 2 / 8%);
  --color-success-opacity: rgb(100 238 116 / 8%);
  --color-info-opacity: rgb(34 166 211 / 8%);
}

/* Dark mode overrides */
.dark {
  --color-tangerine-1000:#ffdbc2;
  --color-tangerine-900:#ffc088;
  --color-tangerine-800:#feac55;
  --color-tangerine-700:#ff9421;
  --color-tangerine-600:#ff9537;
  --color-tangerine-500:#fb8429;
  --color-tangerine-400:#d96c39;
  --color-tangerine-300:#cf5c27;
  --color-tangerine-200:#ba4914;
  --color-tangerine-100:#903a12;
  --color-sunset-1000:#ffe2a7;
  --color-sunset-900:#ffce68;
  --color-sunset-800:#ffbe39;
  --color-sunset-700:#feb92c;
  --color-sunset-600:#f0a202;
  --color-sunset-500:#db9c08;
  --color-sunset-400:#d78e06;
  --color-sunset-300:#c5790f;
  --color-sunset-200:#ad6008;
  --color-sunset-100:#6d3a0e;
  --color-blueberry-1000:#baeeff;
  --color-blueberry-900:#75d7f7;
  --color-blueberry-800:#50c8f1;
  --color-blueberry-700:#3ac4f4;
  --color-blueberry-600:#22a6d3;
  --color-blueberry-500:#1d8baf;
  --color-blueberry-400:#217f9f;
  --color-blueberry-300:#14617b;
  --color-blueberry-200:#11546a;
  --color-blueberry-100:#0b3948;
  --color-cherry-1000:#ffd6d7;
  --color-cherry-900:#ffb4b6;
  --color-cherry-800:#f75a5d;
  --color-cherry-700:#d13d40;
  --color-cherry-600:#c52b2e;
  --color-cherry-500:#c92530;
  --color-cherry-400:#ae172e;
  --color-cherry-300:#a8122d;
  --color-cherry-200:#811123;
  --color-cherry-100:#671213;
  --color-moss-1000:#d1ffff;
  --color-moss-900:#93d3d0;
  --color-moss-800:#82c5be;
  --color-moss-700:#45a9a7;
  --color-moss-600:#3b918f;
  --color-moss-500:#2e8281;
  --color-moss-400:#23706f;
  --color-moss-300:#1f6c69;
  --color-moss-200:#126367;
  --color-moss-100:#0b5054;
  --color-grape-1000:#f7e8ff;
  --color-grape-900:#d5b4ee;
  --color-grape-800:#b89ce2;
  --color-grape-700:#a589ce;
  --color-grape-600:#9c80c5;
  --color-grape-500:#7d5fab;
  --color-grape-400:#7254a0;
  --color-grape-300:#5e4684;
  --color-grape-200:#43315e;
  --color-grape-100:#302343;
  --color-mint-1000:#deffe1;
  --color-mint-900:#c4feca;
  --color-mint-800:#9df994;
  --color-mint-700:#75f673;
  --color-mint-600:#64ee74;
  --color-mint-500:#51dc61;
  --color-mint-400:#3ecb73;
  --color-mint-300:#3da364;
  --color-mint-200:#30794c;
  --color-mint-100:#205735;

  /* Greyscale */
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-neutral-1000:#f6f5f7;
  --color-neutral-900:#f4f2f2;
  --color-neutral-800:#efefef;
  --color-neutral-700:#ebebeb;
  --color-neutral-600:#ccc9c9;
  --color-neutral-500:#bdbcbc;
  --color-neutral-400:#9b9898;
  --color-neutral-300:#7e7b7b;
  --color-neutral-200:#5b5757;
  --color-neutral-100:#424040;
  --color-neutral-50:#2e2b2b;
}