:root {
  --color-primary: var(--colors-sage-400, #8DC757);
  --color-primary-light: var(--colors-sage-200, #C0ea9a);
  --color-primary-dark: var(--colors-sage-700, #559B61);
  --color-secondary: var(--colors-sky-900, #33346D);
  --color-secondary-light: var(--colors-sky-400, #A2AEBA);
  --color-secondary-dark: var(--colors-sky-1000, #353744);
  --color-accent: var(--colors-lavender-400, #a589ce);
  --color-accent-light: var(--colors-lavender-200, #d5b4ee);
  --color-accent-dark: var(--colors-lavender-800, #5e4684);
  --color-success: var(--colors-mint-700, #3ecb73);
  --color-success-light: var(--colors-mint-200, #c4feca);
  --color-success-dark: var(--colors-mint-800, #3da364);
  --color-warning: var(--colors-amber-600, #f66e05);
  --color-warning-light: var(--colors-amber-200, #ffc088);
  --color-warning-dark: var(--colors-amber-800, #cf5c27);
  --color-error: var(--colors-rose-600, #E11D48);
  --color-error-light: var(--colors-rose-200, #FDD3D0);
  --color-error-dark: var(--colors-rose-800, #970D32);
  --color-info: var(--colors-sky-500, #8D99A4);
  --color-info-light: var(--colors-sky-200, #D8DDE4);
  --color-info-dark: var(--colors-sky-800, #525B71);
  --color-primary\/90: rgb(141 199 87 / 90%);
  --color-primary\/50: rgb(141 199 87 / 50%);
  --color-primary\/30: rgb(141 199 87 / 30%);
  --color-primary\/10: rgb(141 199 87 / 10%);
  --color-secondary\/90: rgb(51 52 109 / 90%);
  --color-secondary\/50: rgb(51 52 109 / 50%);
  --color-secondary\/30: rgb(51 52 109 / 30%);
  --color-secondary\/10: rgb(51 52 109 / 10%);
}

@theme {
  --color-*: initial;
  --color-rose-100: #ECD7C8;
  --color-rose-200: #FDD3D0;
  --color-rose-300: #FCB3AD;
  --color-rose-400: #FF6B69;
  --color-rose-500: #FF4040;
  --color-rose-600: #E11D48;
  --color-rose-700: #B60A30;
  --color-rose-800: #970D32;
  --color-rose-900: #840632;
  --color-rose-1000: #670628;
  --color-amber-100: #ffdbc2;
  --color-amber-200: #ffc088;
  --color-amber-300: #feac55;
  --color-amber-400: #f89938;
  --color-amber-500: #f88017;
  --color-amber-600: #f66e05;
  --color-amber-700: #d96c39;
  --color-amber-800: #cf5c27;
  --color-amber-900: #ba4914;
  --color-amber-1000: #903a12;
  --color-sunset-100: #fef4d9;
  --color-sunset-200: #fce6a6;
  --color-sunset-300: #f8cd72;
  --color-sunset-400: #eead4c;
  --color-sunset-500: #c98f0a;
  --color-sunset-600: #a36d07;
  --color-sunset-700: #805607;
  --color-sunset-800: #624206;
  --color-sunset-900: #4c3305;
  --color-sunset-1000: #2f1e03;
  --color-moss-100: #e6fff9;
  --color-moss-200: #acf8e2;
  --color-moss-300: #7be7bc;
  --color-moss-400: #6dc497;
  --color-moss-500: #4ba58e;
  --color-moss-600: #399;
  --color-moss-700: #007478;
  --color-moss-800: #005f5a;
  --color-moss-900: #0b4f4a;
  --color-moss-1000: #022f2e;
  --color-sage-100: #ecffda;
  --color-sage-200: #C0ea9a;
  --color-sage-300: #a5dd74;
  --color-sage-400: #8DC757;
  --color-sage-500: #72d87e;
  --color-sage-600: #62ca99;
  --color-sage-700: #559B61;
  --color-sage-800: #3b8749;
  --color-sage-900: #1d653f;
  --color-sage-1000: #0f3d2d;
  --color-sky-100: #ECEDEE;
  --color-sky-200: #D8DDE4;
  --color-sky-300: #C4CDD7;
  --color-sky-400: #A2AEBA;
  --color-sky-500: #8D99A4;
  --color-sky-600: #697682;
  --color-sky-700: #5D7286;
  --color-sky-800: #525B71;
  --color-sky-900: #33346D;
  --color-sky-1000: #353744;
  --color-mint-100: #deffe1;
  --color-mint-200: #c4feca;
  --color-mint-300: #9df994;
  --color-mint-400: #75f673;
  --color-mint-500: #64ee74;
  --color-mint-600: #51dc61;
  --color-mint-700: #3ecb73;
  --color-mint-800: #3da364;
  --color-mint-900: #30794c;
  --color-mint-1000: #205735;
  --color-lavender-100: #f7e8ff;
  --color-lavender-200: #d5b4ee;
  --color-lavender-300: #b89ce2;
  --color-lavender-400: #a589ce;
  --color-lavender-500: #9c80c5;
  --color-lavender-600: #7d5fab;
  --color-lavender-700: #7254a0;
  --color-lavender-800: #5e4684;
  --color-lavender-900: #43315e;
  --color-lavender-1000: #302343;

  /* Greyscale */
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
  --color-stone-50: #f6f5f7;
  --color-stone-100: #f3f3f3;
  --color-stone-200: #efecec;
  --color-stone-300: #e9e7e9;
  --color-stone-400: #d2cdcd;
  --color-stone-500: #c3bfbf;
  --color-stone-600: #969798;
  --color-stone-700: #7e7b7c;
  --color-stone-800: #625c5d;
  --color-stone-900: #484440;
  --color-stone-1000: #32302b;

  /* Opacity */
  --color-stone-50\/90: rgb(246 245 247 / 90%);
  --color-stone-100\/90: rgb(243 243 243 / 90%);
  --color-stone-200\/90: rgb(239 236 236 / 90%);
  --color-stone-300\/90: rgb(233 231 233 / 90%);
  --color-stone-400\/90: rgb(210 205 205 / 90%);
  --color-stone-500\/90: rgb(195 191 191 / 90%);
  --color-stone-600\/90: rgb(150 151 152 / 90%);
  --color-stone-700\/90: rgb(126 123 124 / 90%);
  --color-stone-800\/90: rgb(98 92 93 / 90%);
  --color-stone-900\/90: rgb(72 68 64 / 90%);
  --color-stone-1000\/90: rgb(50 48 43 / 90%);
  --color-stone-50\/50: rgb(246 245 247 / 50%);
  --color-stone-100\/50: rgb(243 243 243 / 50%);
  --color-stone-200\/50: rgb(239 236 236 / 50%);
  --color-stone-300\/50: rgb(233 231 233 / 50%);
  --color-stone-400\/50: rgb(210 205 205 / 50%);
  --color-stone-500\/50: rgb(195 191 191 / 50%);
  --color-stone-600\/50: rgb(150 151 152 / 50%);
  --color-stone-700\/50: rgb(126 123 124 / 50%);
  --color-stone-800\/50: rgb(98 92 93 / 50%);
  --color-stone-900\/50: rgb(72 68 64 / 50%);
  --color-stone-1000\/50: rgb(50 48 43 / 50%);
  --color-stone-50\/30: rgb(246 245 247 / 30%);
  --color-stone-100\/30: rgb(243 243 243 / 30%);
  --color-stone-200\/30: rgb(239 236 236 / 30%);
  --color-stone-300\/30: rgb(233 231 233 / 30%);
  --color-stone-400\/30: rgb(210 205 205 / 30%);
  --color-stone-500\/30: rgb(195 191 191 / 30%);
  --color-stone-600\/30: rgb(150 151 152 / 30%);
  --color-stone-700\/30: rgb(126 123 124 / 30%);
  --color-stone-800\/30: rgb(98 92 93 / 30%);
  --color-stone-900\/30: rgb(72 68 64 / 30%);
  --color-stone-1000\/30: rgb(50 48 43 / 30%);
  --color-stone-50\/10: rgb(246 245 247 / 10%);
  --color-stone-100\/10: rgb(243 243 243 / 10%);
  --color-stone-200\/10: rgb(239 236 236 / 10%);
  --color-stone-300\/10: rgb(233 231 233 / 10%);
  --color-stone-400\/10: rgb(210 205 205 / 10%);
  --color-stone-500\/10: rgb(195 191 191 / 10%);
  --color-stone-600\/10: rgb(150 151 152 / 10%);
  --color-stone-700\/10: rgb(126 123 124 / 10%);
  --color-stone-800\/10: rgb(98 92 93 / 10%);
  --color-stone-900\/10: rgb(72 68 64 / 10%);
  --color-stone-1000\/10: rgb(50 48 43 / 10%);
  --color-rose\/90: rgb(228 68 68 / 90%);
  --color-rose\/50: rgb(228 68 68 / 50%);
  --color-rose\/30: rgb(228 68 68 / 30%);
  --color-rose\/10: rgb(228 68 68 / 10%);
  --color-amber\/90: rgb(248 153 56 / 90%);
  --color-amber\/50: rgb(248 153 56 / 50%);
  --color-amber\/30: rgb(248 153 56 / 30%);
  --color-amber\/10: rgb(248 153 56 / 10%);
  --color-sunset\/90: rgb(234 179 47 / 90%);
  --color-sunset\/50: rgb(234 179 47 / 50%);
  --color-sunset\/30: rgb(234 179 47 / 30%);
  --color-sunset\/10: rgb(234 179 47 / 10%);
  --color-moss\/90: rgb(116 181 78 / 90%);
  --color-moss\/50: rgb(116 181 78 / 50%);
  --color-moss\/30: rgb(116 181 78 / 30%);
  --color-moss\/10: rgb(116 181 78 / 10%);
  --color-sage\/90: rgb(75 165 142 / 90%);
  --color-sage\/50: rgb(75 165 142 / 50%);
  --color-sage\/30: rgb(75 165 142 / 30%);
  --color-sage\/10: rgb(75 165 142 / 10%);
  --color-sky\/90: rgb(118 149 220 / 90%);
  --color-sky\/50: rgb(118 149 220 / 50%);
  --color-sky\/30: rgb(118 149 220 / 30%);
  --color-sky\/10: rgb(118 149 220 / 10%);
  --color-mint\/90: rgb(109 196 151 / 90%);
  --color-mint\/50: rgb(109 196 151 / 50%);
  --color-mint\/30: rgb(109 196 151 / 30%);
  --color-mint\/10: rgb(109 196 151 / 10%);
  --color-lavender\/90: rgb(163 31 207 / 90%);
  --color-lavender\/50: rgb(163 31 207 / 50%);
  --color-lavender\/30: rgb(163 31 207 / 30%);
  --color-lavender\/10: rgb(163 31 207 / 10%);
}

/* Dark mode overrides */
.dark {
 --color-primary: var(--colors-sage-400);
  --color-primary-light: var(--colors-sage-200);
  --color-primary-dark: var(--colors-sage-700);
  --color-secondary: var(--colors-sky-900);
  --color-secondary-light: var(--colors-sky-400);
  --color-secondary-dark: var(--colors-sky-1000);
  --color-accent: var(--colors-lavender-400);
  --color-accent-light: var(--colors-lavender-200);
  --color-accent-dark: var(--colors-lavender-800);
  --color-success: var(--colors-mint-700);
  --color-success-light: var(--colors-mint-200);
  --color-success-dark: var(--colors-mint-800);
  --color-warning: var(--colors-amber-600);
  --color-warning-light: var(--colors-amber-200);
  --color-warning-dark: var(--colors-amber-800);
  --color-error: var(--colors-rose-600);
  --color-error-light: var(--colors-rose-200);
  --color-error-dark: var(--colors-rose-800);
  --color-info: var(--colors-sky-500);
  --color-info-light: var(--colors-sky-200);
  --color-info-dark: var(--colors-sky-800);

  /* Greyscale */
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-stone-1000: #f6f5f7;
  --color-stone-900: #f4f2f2;
  --color-stone-800: #efefef;
  --color-stone-700: #ebebeb;
  --color-stone-600: #ccc9c9;
  --color-stone-500: #bdbcbc;
  --color-stone-400: #9b9898;
  --color-stone-300: #7e7b7b;
  --color-stone-200: #5b5757;
  --color-stone-100: #424040;
  --color-stone-50: #2e2b2b;
  --color-rose-1000: #ECD7C8;
  --color-rose-900: #FDD3D0;
  --color-rose-800: #FCB3AD;
  --color-rose-700: #FF6B69;
  --color-rose-600: #FF4040;
  --color-rose-500: #E11D48;
  --color-rose-400: #B60A30;
  --color-rose-300: #970D32;
  --color-rose-200: #840632;
  --color-rose-100: #670628;
  --color-amber-1000: #ffdbc2;
  --color-amber-900: #ffc088;
  --color-amber-800: #feac55;
  --color-amber-700: #f89938;
  --color-amber-600: #f88017;
  --color-amber-500: #f66e05;
  --color-amber-400: #d96c39;
  --color-amber-300: #cf5c27;
  --color-amber-200: #ba4914;
  --color-amber-100: #903a12;
  --color-sunset-1000: #fef4d9;
  --color-sunset-900: #fce6a6;
  --color-sunset-800: #f8cd72;
  --color-sunset-700: #eead4c;
  --color-sunset-600: #c98f0a;
  --color-sunset-500: #a36d07;
  --color-sunset-400: #805607;
  --color-sunset-300: #624206;
  --color-sunset-200: #4c3305;
  --color-sunset-100: #2f1e03;
  --color-moss-1000: #e6fff9;
  --color-moss-900: #acf8e2;
  --color-moss-800: #7be7bc;
  --color-moss-700: #6dc497;
  --color-moss-600: #4ba58e;
  --color-moss-500: #399;
  --color-moss-400: #007478;
  --color-moss-300: #005f5a;
  --color-moss-200: #0b4f4a;
  --color-moss-100: #022f2e;
  --color-sage-1000: #ecffda;
  --color-sage-900: #C0ea9a;
  --color-sage-800: #a5dd74;
  --color-sage-700: #8DC757;
  --color-sage-600: #72d87e;
  --color-sage-500: #62ca99;
  --color-sage-400: #559B61;
  --color-sage-300: #3b8749;
  --color-sage-200: #1d653f;
  --color-sage-100: #0f3d2d;
  --color-sky-1000: #ECEDEE;
  --color-sky-900: #D8DDE4;
  --color-sky-800: #C4CDD7;
  --color-sky-700: #A2AEBA;
  --color-sky-600: #8D99A4;
  --color-sky-500: #697682;
  --color-sky-400: #5D7286;
  --color-sky-300: #525B71;
  --color-sky-200: #33346D;
  --color-sky-100: #353744;
  --color-mint-1000: #deffe1;
  --color-mint-900: #c4feca;
  --color-mint-800: #9df994;
  --color-mint-700: #75f673;
  --color-mint-600: #64ee74;
  --color-mint-500: #51dc61;
  --color-mint-400: #3ecb73;
  --color-mint-300: #3da364;
  --color-mint-200: #30794c;
  --color-mint-100: #205735;
  --color-lavender-1000: #f7e8ff;
  --color-lavender-900: #d5b4ee;
  --color-lavender-800: #b89ce2;
  --color-lavender-700: #a589ce;
  --color-lavender-600: #9c80c5;
  --color-lavender-500: #7d5fab;
  --color-lavender-400: #7254a0;
  --color-lavender-300: #5e4684;
  --color-lavender-200: #43315e;
  --color-lavender-100: #302343;
}