@import "./colors.css";

@layer utilities {
  .text-default { color: var(--color-neutral-700); }
  .text-header { color: var(--color-neutral-900, #424040); }
  .text-body { color: var(--color-neutral-600); }
  .text-subtle { color: var(--color-neutral-500); }
  .text-disabled { color: var(--color-neutral-400); }
  .text-contrast { color: var(--color-contrast); }
  
   .text-primary { color: var(--colors-sage-400, #8DC757); }
  .text-primary-light { color: var(--colors-sage-200, #C0EA9A); }
  .text-primary-dark { color: var(--colors-sage-700, #559B61); }
  .text-secondary { color: var(--colors-sky-900, #33346D); }
  .text-secondary-light { color: var(--colors-sky-400, #A2AEBA); }
  .text-secondary-dark { color: var(--colors-sky-1000, #353744); }

  .text-accent { color: var(--color-accent); }
  .text-accent-light { color: var(--color-accent-light); }
  .text-accent-dark { color: var(--color-accent-dark); }

  .text-success { color: var(--color-success); }
  .text-success-light { color: var(--color-success-light); }
  .text-success-dark { color: var(--color-success-dark); }

  .text-warning { color: var(--color-warning); }
  .text-warning-light { color: var(--color-warning-light); }
  .text-warning-dark { color: var(--color-warning-dark); }

  .text-error { color: var(--color-error, #c92530); }
  .text-error-light { color: var(--color-error-light); }
  .text-error-dark { color: var(--color-error-dark); }

    .text-error\/50 { color: var(--color-error, rgb(201 37 48 / 50%)); }


  .text-info { color: var(--color-info); }
  .text-info-light { color: var(--color-info-light); }
  .text-info-dark { color: var(--color-info-dark); }
}