@import "./colors.css";

@theme {
  --text-primary: var(--colors-sage-400, #8DC757);
  --text-primary-light: var(--colors-sage-200, #C0EA9A);
  --text-primary-dark: var(--colors-sage-700, #559B61);
  --text-secondary: var(--colors-sky-900, #33346D);
  --text-secondary-light: var(--colors-sky-400, #A2AEBA);
  --text-secondary-dark: var(--colors-sky-1000, #353744);
  --text-accent: var(--colors-lavender-400, #a589ce);
  --text-accent-light: var(--colors-lavender-200, #d5b4ee);
  --text-accent-dark: var(--colors-lavender-800, #5e4684);
  --text-success: var(--colors-mint-700, #3ecb73);
  --text-success-light: var(--colors-mint-200, #c4feca);
  --text-success-dark: var(--colors-mint-800, #3da364);
  --text-warning: var(--colors-amber-600, #f66e05);
  --text-warning-light: var(--colors-amber-200, #ffc088);
  --text-warning-dark: var(--colors-amber-800, #cf5c27);
  --text-error: var(--colors-rose-600, #E11D48);
  --text-error-light: var(--colors-rose-200, #FDD3D0);
  --text-error-dark: var(--colors-rose-800, #970D32);
  --text-info: var(--colors-sky-500, #8D99A4);
  --text-info-light: var(--colors-sky-200, #D8DDE4);
  --text-info-dark: var(--colors-sky-800, #525B71);
  --text-primary\/90: rgb(141 199 87 / 90%);
  --text-primary\/50: rgb(141 199 87 / 50%);
  --text-primary\/30: rgb(141 199 87 / 30%);
  --text-primary\/10: rgb(141 199 87 / 10%);
  --text-secondary\/90: rgb(51 52 109 / 90%);
  --text-secondary\/50: rgb(51 52 109 / 50%);
  --text-secondary\/30: rgb(51 52 109 / 30%);
  --text-secondary\/10: rgb(51 52 109 / 10%);

  /* Greyscale */
  --text-white: #FFF;
  --text-black: #000;
  --text-contrast: #FFF;
  --text-stone-50: #f6f5f7;
  --text-stone-100: #f3f3f3;
  --text-stone-200: #efecec;
  --text-stone-300: #e9e7e9;
  --text-stone-400: #d2cdcd;
  --text-stone-500: #c3bfbf;
  --text-stone-600: #969798;
  --text-stone-700: #7e7b7c;
  --text-stone-800: #625c5d;
  --text-stone-900: #484440;
  --text-stone-1000: #32302b;

  /* Opacity */
  --text-stone-50\/90: rgb(246 245 247 / 90%);
  --text-stone-100\/90: rgb(243 243 243 / 90%);
  --text-stone-200\/90: rgb(239 236 236 / 90%);
  --text-stone-300\/90: rgb(233 231 233 / 90%);
  --text-stone-400\/90: rgb(210 205 205 / 90%);
  --text-stone-500\/90: rgb(195 191 191 / 90%);
  --text-stone-600\/90: rgb(150 151 152 / 90%);
  --text-stone-700\/90: rgb(126 123 124 / 90%);
  --text-stone-800\/90: rgb(98 92 93 / 90%);
  --text-stone-900\/90: rgb(72 68 64 / 90%);
  --text-stone-1000\/90: rgb(50 48 43 / 90%);
  --text-stone-50\/50: rgb(246 245 247 / 50%);
  --text-stone-100\/50: rgb(243 243 243 / 50%);
  --text-stone-200\/50: rgb(239 236 236 / 50%);
  --text-stone-300\/50: rgb(233 231 233 / 50%);
  --text-stone-400\/50: rgb(210 205 205 / 50%);
  --text-stone-500\/50: rgb(195 191 191 / 50%);
  --text-stone-600\/50: rgb(150 151 152 / 50%);
  --text-stone-700\/50: rgb(126 123 124 / 50%);
  --text-stone-800\/50: rgb(98 92 93 / 50%);
  --text-stone-900\/50: rgb(72 68 64 / 50%);
  --text-stone-1000\/50: rgb(50 48 43 / 50%);
  --text-stone-50\/30: rgb(246 245 247 / 30%);
  --text-stone-100\/30: rgb(243 243 243 / 30%);
  --text-stone-200\/30: rgb(239 236 236 / 30%);
  --text-stone-300\/30: rgb(233 231 233 / 30%);
  --text-stone-400\/30: rgb(210 205 205 / 30%);
  --text-stone-500\/30: rgb(195 191 191 / 30%);
  --text-stone-600\/30: rgb(150 151 152 / 30%);
  --text-stone-700\/30: rgb(126 123 124 / 30%);
  --text-stone-800\/30: rgb(98 92 93 / 30%);
  --text-stone-900\/30: rgb(72 68 64 / 30%);
  --text-stone-1000\/30: rgb(50 48 43 / 30%);
  --text-stone-50\/10: rgb(246 245 247 / 10%);
  --text-stone-100\/10: rgb(243 243 243 / 10%);
  --text-stone-200\/10: rgb(239 236 236 / 10%);
  --text-stone-300\/10: rgb(233 231 233 / 10%);
  --text-stone-400\/10: rgb(210 205 205 / 10%);
  --text-stone-500\/10: rgb(195 191 191 / 10%);
  --text-stone-600\/10: rgb(150 151 152 / 10%);
  --text-stone-700\/10: rgb(126 123 124 / 10%);
  --text-stone-800\/10: rgb(98 92 93 / 10%);
  --text-stone-900\/10: rgb(72 68 64 / 10%);
  --text-stone-1000\/10: rgb(50 48 43 / 10%);
  --text-rose\/90: rgb(228 68 68 / 90%);
  --text-rose\/50: rgb(228 68 68 / 50%);
  --text-rose\/30: rgb(228 68 68 / 30%);
  --text-rose\/10: rgb(228 68 68 / 10%);
  --text-amber\/90: rgb(248 153 56 / 90%);
  --text-amber\/50: rgb(248 153 56 / 50%);
  --text-amber\/30: rgb(248 153 56 / 30%);
  --text-amber\/10: rgb(248 153 56 / 10%);
  --text-sunset\/90: rgb(234 179 47 / 90%);
  --text-sunset\/50: rgb(234 179 47 / 50%);
  --text-sunset\/30: rgb(234 179 47 / 30%);
  --text-sunset\/10: rgb(234 179 47 / 10%);
  --text-moss\/90: rgb(116 181 78 / 90%);
  --text-moss\/50: rgb(116 181 78 / 50%);
  --text-moss\/30: rgb(116 181 78 / 30%);
  --text-moss\/10: rgb(116 181 78 / 10%);
  --text-sage\/90: rgb(75 165 142 / 90%);
  --text-sage\/50: rgb(75 165 142 / 50%);
  --text-sage\/30: rgb(75 165 142 / 30%);
  --text-sage\/10: rgb(75 165 142 / 10%);
  --text-sky\/90: rgb(118 149 220 / 90%);
  --text-sky\/50: rgb(118 149 220 / 50%);
  --text-sky\/30: rgb(118 149 220 / 30%);
  --text-sky\/10: rgb(118 149 220 / 10%);
  --text-mint\/90: rgb(109 196 151 / 90%);
  --text-mint\/50: rgb(109 196 151 / 50%);
  --text-mint\/30: rgb(109 196 151 / 30%);
  --text-mint\/10: rgb(109 196 151 / 10%);
  --text-lavender\/90: rgb(163 31 207 / 90%);
  --text-lavender\/50: rgb(163 31 207 / 50%);
  --text-lavender\/30: rgb(163 31 207 / 30%);
  --text-lavender\/10: rgb(163 31 207 / 10%);
}

@layer utilities {
  .text-default { color: var(--color-stone-700); }
  .text-header { color: var(--color-stone-900, #424040); }
  .text-body { color: var(--color-stone-600); }
  .text-subtle { color: var(--color-stone-500); }
  .text-disabled { color: var(--color-stone-400); }
  .text-contrast { color: var(--color-contrast); }
  
  .text-primary { color: var(--color-primary); }
  .text-primary-light { color: var(--color-primary-light); }
  .text-primary-dark { color: var(--color-primary-dark); }
  .hover\:text-primary:hover { color: var(--color-primary); }

  .text-secondary { color: var(--color-secondary); }
  .text-secondary-light { color: var(--color-secondary-light); }
  .text-secondary-dark { color: var(--color-secondary-dark); }

  .hover\:text-secondary:hover { color: var(--color-secondary); }

  .text-accent { color: var(--color-accent); }
  .text-accent-light { color: var(--color-accent-light); }
  .text-accent-dark { color: var(--color-accent-dark); }

  .text-success { color: var(--color-success); }
  .text-success-light { color: var(--color-success-light); }
  .text-success-dark { color: var(--color-success-dark); }

  .text-warning { color: var(--color-warning); }
  .text-warning-light { color: var(--color-warning-light); }
  .text-warning-dark { color: var(--color-warning-dark); }

  .text-error { color: var(--color-error); }
  .text-error-light { color: var(--color-error-light); }
  .text-error-dark { color: var(--color-error-dark); }

  .text-info { color: var(--color-info); }
  .text-info-light { color: var(--color-info-light); }
  .text-info-dark { color: var(--color-info-dark); }
}
