@theme {
  --color-rose-100: oklch(89.23% 0.031 57.88);
  --color-rose-200: oklch(90.18% 0.0476 22.88);
  --color-rose-300: oklch(83.38% 0.0862 24.34);
  --color-rose-400: oklch(71.12% 0.1815 23.61);
  --color-rose-500: oklch(65.97% 0.2267 26.03);
  --color-rose-600: oklch(58.58% 0.222 17.58);
  --color-rose-700: oklch(49.43% 0.1941 19.76);
  --color-rose-800: oklch(43.53% 0.1665 15.11);
  --color-rose-900: oklch(39.47% 0.1536 10.57);
  --color-rose-1000: oklch(33.29% 0.1273 9.08);
  --color-amber-100: oklch(91.52% 0.0522 56.77);
  --color-amber-200: oklch(85.29% 0.1021 62.43);
  --color-amber-300: oklch(80.84% 0.1402 64.98);
  --color-amber-400: oklch(76.54% 0.1553 61.58);
  --color-amber-500: oklch(72.28% 0.177 53.22);
  --color-amber-600: oklch(69.3% 0.1894 47.35);
  --color-amber-700: oklch(65.11% 0.1514 43.95);
  --color-amber-800: oklch(61.11% 0.1595 42.63);
  --color-amber-900: oklch(55.07% 0.1579 41.41);
  --color-amber-1000: oklch(46.11% 0.1268 42.03);
  --color-sunset-100: oklch(96.8% 0.0369 90.06);
  --color-sunset-200: oklch(92.8% 0.0847 91.31);
  --color-sunset-300: oklch(86.72% 0.12 84.55);
  --color-sunset-400: oklch(79.15% 0.1351 74.27);
  --color-sunset-500: oklch(68.92% 0.1412 79.3);
  --color-sunset-600: oklch(57.75% 0.1203 74.23);
  --color-sunset-700: oklch(48.7% 0.1 75.18);
  --color-sunset-800: oklch(40.54% 0.0818 76.17);
  --color-sunset-900: oklch(34.21% 0.0678 76.79);
  --color-sunset-1000: oklch(25.07% 0.0485 75.67);
  --color-sage-100: oklch(97.65% 0.0524 129.59);
  --color-sage-200: oklch(88.83% 0.1136 130.92);
  --color-sage-300: oklch(83.56% 0.1476 131.93);
  --color-sage-400: oklch(76.58% 0.156 131.95);
  --color-sage-500: oklch(79.87% 0.1577 146.43);
  --color-sage-600: oklch(76.35% 0.1213 161.07);
  --color-sage-700: oklch(62.8% 0.1121 148.09);
  --color-sage-800: oklch(55.94% 0.1207 147.6);
  --color-sage-900: oklch(45.21% 0.0943 156.01);
  --color-sage-1000: oklch(32.4% 0.0573 166.03);
  --color-lavender-100: oklch(95.16% 0.0228 266.91);
  --color-lavender-200: oklch(85.35% 0.0597 265.12);
  --color-lavender-300: oklch(80.17% 0.0733 258.82);
  --color-lavender-400: oklch(72.92% 0.1001 268.53);
  --color-lavender-500: oklch(67.59% 0.1114 265.55);
  --color-lavender-600: oklch(55.26% 0.1299 276.16);
  --color-lavender-700: oklch(50.14% 0.1528 278.48);
  --color-lavender-800: oklch(43.58% 0.1251 279.3);
  --color-lavender-900: oklch(35.6% 0.0966 279.54);
  --color-lavender-1000: oklch(25.74% 0.0484 282.46);
  --color-mint-100: oklch(98.02% 0.0272 179.72);
  --color-mint-200: oklch(92.34% 0.0809 174.44);
  --color-mint-300: oklch(85.15% 0.1184 165.69);
  --color-mint-400: oklch(75.31% 0.1077 159.73);
  --color-mint-500: oklch(66.03% 0.0935 174.12);
  --color-mint-600: oklch(62.58% 0.0915 195.07);
  --color-mint-700: oklch(50.77% 0.0863 199);
  --color-mint-800: oklch(43.76% 0.0759 188.55);
  --color-mint-900: oklch(38.71% 0.0634 187.21);
  --color-mint-1000: oklch(27.66% 0.046 192.53);
  --color-sky-100: oklch(93.2% 0.032 255.585);
  --color-sky-200: oklch(88.2% 0.059 254.128);
  --color-sky-300: oklch(82.8% 0.111 230.318);
  --color-sky-400: oklch(70.7% 0.165 254.624);
  --color-sky-500: oklch(62.3% 0.214 259.815);
  --color-sky-600: oklch(54.6% 0.245 262.881);
  --color-sky-700: oklch(48.8% 0.243 264.376);
  --color-sky-800: oklch(42.4% 0.199 265.638);
  --color-sky-900: oklch(37.9% 0.146 265.522);
  --color-sky-1000: oklch(28.2% 0.091 267.935);
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);
  --color-stone-50: oklch(97.15% 0.0028 308.43);
  --color-stone-100: oklch(96.42% 0 0);
  --color-stone-200: oklch(94.54% 0.0032 17.21);
  --color-stone-300: oklch(93.01% 0.0034 325.6);
  --color-stone-400: oklch(85.23% 0.0055 17.27);
  --color-stone-500: oklch(80.79% 0.0045 17.25);
  --color-stone-600: oklch(67.59% 0.0019 247.85);
  --color-stone-700: oklch(58.59% 0.0039 354.78);
  --color-stone-800: oklch(48.07% 0.0079 5.87);
  --color-stone-900: oklch(38.92% 0.0086 67.57);
  --color-stone-1000: oklch(30.95% 0.0092 88.75);
}