@theme {
  --color-*: initial;
  --color-rose-100: #ECD7C8;
  --color-rose-200: #FDD3D0;
  --color-rose-300: #FCB3AD;
  --color-rose-400: #FF6B69;
  --color-rose-500: #FF4040;
  --color-rose-600: #E11D48;
  --color-rose-700: #B60A30;
  --color-rose-800: #970D32;
  --color-rose-900: #840632;
  --color-rose-1000: #670628;
  --color-amber-100: #ffdbc2;
  --color-amber-200: #ffc088;
  --color-amber-300: #feac55;
  --color-amber-400: #f89938;
  --color-amber-500: #f88017;
  --color-amber-600: #f66e05;
  --color-amber-700: #d96c39;
  --color-amber-800: #cf5c27;
  --color-amber-900: #ba4914;
  --color-amber-1000: #903a12;
  --color-sunset-100: #fef4d9;
  --color-sunset-200: #fce6a6;
  --color-sunset-300: #f8cd72;
  --color-sunset-400: #eead4c;
  --color-sunset-500: #c98f0a;
  --color-sunset-600: #a36d07;
  --color-sunset-700: #805607;
  --color-sunset-800: #624206;
  --color-sunset-900: #4c3305;
  --color-sunset-1000: #2f1e03;
  --color-moss-100: #e6fff9;
  --color-moss-200: #acf8e2;
  --color-moss-300: #7be7bc;
  --color-moss-400: #6dc497;
  --color-moss-500: #4ba58e;
  --color-moss-600: #399;
  --color-moss-700: #007478;
  --color-moss-800: #005f5a;
  --color-moss-900: #0b4f4a;
  --color-moss-1000: #022f2e;
  --color-sage-100: #ecffda;
  --color-sage-200: #C0ea9a;
  --color-sage-300: #a5dd74;
  --color-sage-400: #8DC757;
  --color-sage-500: #72d87e;
  --color-sage-600: #62ca99;
  --color-sage-700: #559B61;
  --color-sage-800: #3b8749;
  --color-sage-900: #1d653f;
  --color-sage-1000: #0f3d2d;
  --color-sky-100: #ECEDEE;
  --color-sky-200: #D8DDE4;
  --color-sky-300: #C4CDD7;
  --color-sky-400: #A2AEBA;
  --color-sky-500: #8D99A4;
  --color-sky-600: #697682;
  --color-sky-700: #5D7286;
  --color-sky-800: #525B71;
  --color-sky-900: #33346D;
  --color-sky-1000: #353744;
  --color-mint-100: #deffe1;
  --color-mint-200: #c4feca;
  --color-mint-300: #9df994;
  --color-mint-400: #75f673;
  --color-mint-500: #64ee74;
  --color-mint-600: #51dc61;
  --color-mint-700: #3ecb73;
  --color-mint-800: #3da364;
  --color-mint-900: #30794c;
  --color-mint-1000: #205735;
  --color-lavender-100: #f7e8ff;
  --color-lavender-200: #d5b4ee;
  --color-lavender-300: #b89ce2;
  --color-lavender-400: #a589ce;
  --color-lavender-500: #9c80c5;
  --color-lavender-600: #7d5fab;
  --color-lavender-700: #7254a0;
  --color-lavender-800: #5e4684;
  --color-lavender-900: #43315e;
  --color-lavender-1000: #302343;
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
  --color-stone-50: #f6f5f7;
  --color-stone-100: #f3f3f3;
  --color-stone-200: #efecec;
  --color-stone-300: #e9e7e9;
  --color-stone-400: #d2cdcd;
  --color-stone-500: #c3bfbf;
  --color-stone-600: #969798;
  --color-stone-700: #7e7b7c;
  --color-stone-800: #625c5d;
  --color-stone-900: #484440;
  --color-stone-1000: #32302b;
}