@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500;600;700&display=swap');

@layer utilities {
  .font-montserrat { font-family: var(--font-montserrat); }
  .font-helvetica-neue { font-family: var(--font-helvetica-neue); }
  .text-xs { font-size: var(--text-xs); }
  .text-sm { font-size: var(--text-sm); }
  .text-base { font-size: var(--text-base); }
  .text-lg { font-size: var(--text-lg); }
  .text-xl { font-size: var(--text-xl); }
  .text-2xl { font-size: var(--text-2xl); }
  .text-3xl { font-size: var(--text-3xl); }
  .text-4xl { font-size: var(--text-4xl); }
  .text-5xl { font-size: var(--text-5xl); }
  .text-6xl { font-size: var(--text-6xl); }
  .text-7xl { font-size: var(--text-7xl); }
  .text-8xl { font-size: var(--text-8xl); }
}

:root {
  --font-montserrat: "Montserrat", serif;
  --font-helvetica-neue: "Helvetica Neue", sans-serif;
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3rem;
  --text-7xl: 3.5rem;
  --text-8xl: 4rem;
  --leading-cozy: 1.08;
  --leading-tighter: 1.15;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --tracking-tight: -0.015em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --tracking-ultra: 0.2em;
  --tracking-mega: 0.3em;
}

@layer components {
  .typography {
    p, .body {
      font-family: var(--font-helvetica-neue);
      font-size: var(--text-base);
      line-height: var(--leading-tight);
      color: var(--text-default);
      margin: 0;
    }

    h1, .title-hero {
      font-family: var(--font-montserrat);
      font-weight: var(--font-semibold);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-normal);
      font-size: var(--text-4xl);
      color: var(--text-primary);
      margin: 0;
    }

     h2, .title-page {
      font-family: var(--font-montserrat);
      font-weight: var(--font-semibold);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-normal);
              font-size: var(--text-3xl);
      color: var(--text-primary);
      margin: 0;
    }

    h3, .title-subtitle {
      font-family: var(--font-montserrat);
      font-weight: var(--font-semibold);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-normal);
      font-size: var(--text-2xl);
      color: var(--text-primary);
      margin: 0;
    }

    h4, .title-subheader {
      font-family: var(--font-montserrat);
      font-weight: var(--font-semibold);
      font-size: var(--text-xl);
      letter-spacing: var(--tracking-normal);
      color: var(--text-default);
      margin: 0;
    }

    .body-lg {
      font-family: var(--font-helvetica-neue);
      line-height: var(--leading-tight);
      font-size: var(--text-lg);
      color: var(--text-default);
      margin: 0;
    }

    .body-sm {
      font-family: var(--font-helvetica-neue);
      font-size: var(--text-sm);
      line-height: var(--leading-tight);
      color: var(--text-default);
      margin: 0;
    }

    .body-xs {
      font-family: var(--font-helvetica-neue);
      font-size: var(--text-2xs);
      line-height: var(--leading-tight);
      color: var(--text-default);
      margin: 0;
    }

    @media (min-width: 768px) {
      h1, .title-hero { font-size: var(--text-5xl); }
      h2, .title-page { font-size: var(--text-4xl); }
      h3, .title-page { font-size: var(--text-3xl); }
      h4, .title-page { font-size: var(--text-2xl); }
      .body-lg { font-size: var(--text-xl); }
      .body-sm { font-size: var(--text-sm); }
      .body-xs { font-size: var(--text-xs); }
    }

    @media (min-width: 1080px) {
      h1, .title-hero { font-size: var(--text-6xl); }
      h2, .title-page { font-size: var(--text-5xl); }
       h3, .title-page { font-size: var(--text-4xl); }
      h4, .title-page { font-size: var(--text-3xl); }
      .body-lg { font-size: var(--text-2xl); }
    }
    

    strong {
      font-weight: var(--font-semibold);
    }

    
  }
}
